<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="underwhite">
    <ion-title>내 등록 차량</ion-title>
    <ion-buttons left>
      <button ion-button icon-only color="underblack" (click)="backToProfile()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="showNothing" align="center">
      <div class="spacer" style="height: 160px;"></div>
      <div align="center"><img src="img/addMyCar.png" style="height: 15%; width: 15%"/></div>
      <h5 align="center">딜러보다 더 받고 팔 준비 되셨나요?</h5>
      <p align="center"><span style="font-size: 10pt; color:#999999">국내 최대 중고차 안심직거래앱 천언더<br>전담직원과 함께 내 차를 판매해보세요.</span></p> 
  </div>
  <div *ngIf="!showNothing">
      <div align="center">    
        <div no-margin no-padding *ngFor="let car of cars">
          <div *ngIf="car.photo_height > 500" class="image-wrapper">
            <div *ngIf="car.state === '판매중'">
              <div class="pcar-image"> 
                <div class="centered">
                  <img [src]="car.photo_path" tappable (click)="naviCarDetailPage(car.key)"/>
                </div>
              </div>
            </div>
            <div *ngIf="car.state === '검수'">
              <div class="pcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                                  'background-repeat': 'no-repeat', 'background-position': 'center center'}"> 
                <div class="centered">
                  <img src="img/state/inspecting.png" style="height: 150px; width: 150px;" tappable (click)="naviCarDetailPage(car.key)"/>
                </div>
              </div>
            </div>
            <div *ngIf="car.state === '완료'">
              <div class="pcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                                  'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
                <div class="centered">
                  <img src="img/state/sold.png" style="height: 150px; width: 150px;" tappable (click)="naviCarDetailPage(car.key)"/>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="car.photo_height <= 500" class="image-wrapper">
              <div *ngIf="car.state === '판매중'">
                <div class="lcar-image"> 
                  <div class="centered">
                    <img [src]="car.photo_path" tappable (click)="naviCarDetailPage(car.key)"/>
                  </div>
                </div>
              </div>
              <div *ngIf="car.state === '검수'">
                <div class="lcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                                    'background-repeat': 'no-repeat', 'background-position': 'center center'}"> 
                  <div class="centered">
                    <img src="img/state/inspecting.png" style="height: 150px; width: 150px;" tappable (click)="naviCarDetailPage(car.key)"/>
                  </div>
                </div>
              </div>
              <div *ngIf="car.state === '완료'">
                <div class="lcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                                    'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
                  <div class="centered">
                    <img src="img/state/sold.png" style="height: 150px; width: 150px;" tappable (click)="naviCarDetailPage(car.key)"/>
                  </div>
                </div>
              </div>
            </div>
          <ion-row style="height: 45px;">
            <ion-col col-10>
              <h5 align="left">&nbsp;{{car.price | number:0}}만원 {{car.maker}} {{car.model}}</h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-10 align="left">
              &nbsp;{{car.address}} | {{car.year}}년{{car.month}}월 | {{car.mileage | number:0}}km  
            </ion-col>
            <ion-col col-2>
              <ion-icon name="eye" item-left> {{car.view_count | number:0}}</ion-icon>
            </ion-col>
          </ion-row>
          <div *ngIf="car.state === '판매중'">
            <ion-row style="height: 45px;">
              <ion-col col-4 text-center style="padding-top: 0px;">
                <button ion-button clear color="undergray" (click)="updateMyCar(car.key)">
                  수정하기
                </button>
              </ion-col>
              <ion-col col-4 text-center style="padding-top: 0px;">
                <button ion-button clear color="undergray" (click)="soldMyCar(car.key)">
                  판매완료
                </button>
              </ion-col>
              <ion-col col-4 text-center style="padding-top: 0px;">
                <button ion-button clear color="danger" (click)="deleteMyCar(car.key)">
                  삭제하기
                </button>
              </ion-col>
            </ion-row>
          </div>
          <div *ngIf="car.state === '검수'">
            <ion-row style="height: 45px;">
              <ion-col col-4 text-center style="padding-top: 0px;">
                <button ion-button clear color="default" (click)="updateMyCar(car.key)">
                  수정하기
                </button>
              </ion-col>
              <ion-col col-4 text-center style="padding-top: 0px;">
                <!-- <button ion-button clear color="default" (click)="soldMyCar(car.key)">
                  판매완료
                </button> -->
              </ion-col>
              <ion-col col-4 text-center style="padding-top: 0px;">
                <button ion-button clear color="danger" (click)="deleteMyCar(car.key)">
                  삭제하기
                </button>
              </ion-col>
            </ion-row>
          </div>
          <div *ngIf="car.state === '완료'">
            <ion-row style="height: 45px;">
              <ion-col col-4 text-center style="padding-top: 0px;">
                <!-- <button ion-button clear color="default" icon-left (click)="updateMyCar(car.key)">
                  수정하기
                </button> -->
              </ion-col>
              <ion-col col-4 text-center style="padding-top: 0px;">
                <button ion-button clear color="1000Under">
                  판매완료
                </button>
              </ion-col>
              <ion-col col-4 text-center style="padding-top: 0px;">
                <button ion-button clear color="danger" (click)="deleteMyCar(car.key)">
                  삭제하기
                </button>
              </ion-col>
            </ion-row>
          </div>
        <div class="spacer" style="height: 10px; background-color: #eeeeee;"></div>
      </div>      
    </div>
  </div>
  <ion-fab right bottom>
    <button ion-fab style="color: #ffffff; background-color: #48b2ff; width: 44px; height: 44px;" (click)="addMyCar()"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>
  <ion-infinite-scroll *ngIf="doInfiniteFlag" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>