<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="underwhite">
    <ion-buttons left>
      <button ion-button icon-only color="underblack" (click)="dismiss()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>모아 보기</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img [src]="selectedPick.photo_path" style="display: block; margin-left: auto; margin-right: auto;"/>
  <div class="spacer" style="height: 10px;"></div>
  <div class="spacer" style="height: 10px; background-color: #eeeeee;"></div>
  <div align="center">
    <div no-margin no-padding *ngFor="let car of pickCars">
      <div *ngIf="car.photo_height > 500" class="image-wrapper">
        <div *ngIf="car.state === '판매중'">
          <div class="pcar-image"> 
            <div class="centered">
              <img [src]="car.photo_path" tappable (click)="naviCarDetailPage(car.key)"/>
            </div>
          </div>
        </div>
        <div *ngIf="car.state === '검수'">
          <div class="pcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                              'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
            <div class="centered">
              <img src="img/state/inspecting.png" style="height: 150px; width: 150px;" tappable (click)="naviCarDetailPage(car.key)"/>
            </div>
          </div>
        </div>
        <div *ngIf="car.state === '거래중'">
          <div class="pcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                              'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
            <div class="centered">
              <img src="img/state/dealing.png" style="height: 150px; width: 150px;" tappable (click)="naviCarDetailPage(car.key)"/>
            </div>
          </div>
        </div>
        <div *ngIf="car.state === '완료'">
          <div class="pcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                              'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
            <div class="centered">
              <img src="img/state/sold.png" style="height: 150px; width: 150px;" tappable (click)="naviCarDetailPage(car.key)"/>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="car.photo_height <= 500" class="image-wrapper">
        <div *ngIf="car.state === '판매중'">
          <div class="lcar-image"> 
            <div class="centered">
              <img [src]="car.photo_path" tappable (click)="naviCarDetailPage(car.key)"/>
            </div>
          </div>
        </div>
        <div *ngIf="car.state === '검수'">
          <div class="lcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                              'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
            <div class="centered">
              <img src="img/state/inspecting.png" style="height: 150px; width: 150px;" tappable (click)="naviCarDetailPage(car.key)"/>
            </div>
          </div>
        </div>
        <div *ngIf="car.state === '거래중'">
          <div class="lcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                              'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
            <div class="centered">
              <img src="img/state/dealing.png" style="height: 150px; width: 150px;" tappable (click)="naviCarDetailPage(car.key)"/>
            </div>
          </div>
        </div>
        <div *ngIf="car.state === '완료'">
          <div class="lcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                              'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
            <div class="centered">
              <img src="img/state/sold.png" style="height: 150px; width: 150px;" tappable (click)="naviCarDetailPage(car.key)"/>
            </div>
          </div>
        </div>
      </div>
      <ion-row style="height: 45px;">
        <ion-col col-10>
          <h5 align="left">&nbsp;{{car.price | number:0}}만원 {{car.maker}} {{car.model}}</h5>
        </ion-col>
        <ion-col col-2 *ngIf="car.is_favorite === '1' && car.state === '판매중'">
          <button ion-button  color="1000Under" clear icon-only (click)="selectFavoriteCar(car)"><ion-icon mini name="heart"></ion-icon></button>
        </ion-col>
        <ion-col col-2 *ngIf="car.is_favorite === '0' && car.state === '판매중'">
          <button  ion-button  color="undergray" clear icon-only (click)="selectFavoriteCar(car)"><ion-icon mini name="heart-outline"></ion-icon></button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-10 align="left">
          &nbsp;{{car.year}}년{{car.month}}월 | {{car.mileage | number:0}}km  
        </ion-col>
        <ion-col col-2>
          <ion-icon name="ios-eye-outline" item-left><span style="font-size: 11pt;">{{car.view | number:0}}</span></ion-icon>
        </ion-col>
      </ion-row>
      <br>
      <div class="spacer" style="height: 10px; background-color: #eeeeee;"></div>
    </div>
  </div>
  <ion-infinite-scroll *ngIf="doInfiniteFlag" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
