.ios {
    page-chat-board {
        .head-space {
            background-color: #ffffff !important;   //
            height: 1px;
        }
        .triangle-right {
            position:relative;
            padding:15px;
            margin:1em 0 3em;
            color:#000000;
            background:#ffffcc; // default background for browsers without gradient support
            -webkit-border-radius:10px;
            -moz-border-radius:10px;
            border-radius:10px;
        }

        .triangle-right.left {
            margin-left: 60px;
            background:#eeeeee;
        }

        .triangle-isosceles {
            position:relative;
            padding:15px;
            margin:1em 0 3em;
            color:#000000;
            background:#eeeeee; // default background for browsers without gradient support 
            -webkit-border-radius:10px;
            -moz-border-radius:10px;
            border-radius:10px;
        }

        .triangle-isosceles.left {
            margin-left:50px;
            background:#cceaff;
        }        
    }
}
.md {
    page-chat-board {

        .triangle-right {
            position:relative;
            padding:15px;
            margin:1em 0 3em;
            color:#000000;
            background:#ffffcc; // default background for browsers without gradient support
            -webkit-border-radius:10px;
            -moz-border-radius:10px;
            border-radius:10px;
        }

        .triangle-right.left {
            margin-left: 60px;
            background:#eeeeee;
        }

        .triangle-isosceles {
            position:relative;
            padding:15px;
            margin:1em 0 3em;
            color:#000000;
            background:#eeeeee; // default background for browsers without gradient support 
            -webkit-border-radius:10px;
            -moz-border-radius:10px;
            border-radius:10px;
        }

        .triangle-isosceles.left {
            margin-left:50px;
            background:#cceaff;
        }        
    }
}

page-chat-board {
    .title.title-md {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        width: 70%;
        text-align: center;
    }
    .input-cover{position: static}
}
