<ion-header>
  <div class="head-space"></div>  
  <ion-toolbar color="underwhite">
    <ion-buttons left>
      <button ion-button icon-only color="underblack" (click)="dismiss()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>천언더</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list no-lines>
    <div *ngFor="let msg of message_detail_list">
      <div *ngIf="u_email === msg.sender_email">
        <ion-item *ngIf="msg.read_state == 'YES'">
          <p item-right style="margin-bottom: 0px; margin-top: 0px; padding-top: 0px; padding-bottom: 0px;">
            {{msg.regist_date}}<span style="font-size: 8pt; color:#929292;"> {{msg.receiver_name}}(읽음)</span>
          </p>
        </ion-item>
        <ion-item *ngIf="msg.read_state == 'NO'">
          <p item-right style="margin-bottom: 0px; margin-top: 0px; padding-top: 0px; padding-bottom: 0px;">
            {{msg.regist_date}}<span style="font-size: 8pt; color:#929292;"> {{msg.receiver_name}}</span><span style="font-size: 8pt; color:#f53d3d;">(안읽음)</span>
          </p>
        </ion-item>
        <ion-item>
          <p class="triangle-right left" *ngIf="msg.message_text !== null"
              item-right style="margin-bottom: 0px; margin-top: 0px; padding-top: 10px; padding-bottom: 10px;">
            {{msg.message_text}}
          </p>
        </ion-item>
      </div>
      <div *ngIf="u_email !== msg.sender_email">
        <ion-item>
          <p item-left style="margin-bottom: 0px; margin-top: 0px; padding-top: 0px; padding-bottom: 0px;">
            {{msg.sender_name}} {{msg.regist_date}}
          </p>
        </ion-item>
        <ion-item>
          <ion-avatar item-start style="margin-bottom: 0px; margin-top: 0px;">
            <img src="img/1000under-logo.png">
          </ion-avatar>
          <p class="triangle-isosceles right" *ngIf="msg.message_text !== null"
              item-left style="margin-bottom: 0px; margin-top: 0px; padding-top: 10px; padding-bottom: 10px;">
            {{msg.message_text}}
          </p>
        </ion-item>
      </div>
    </div>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-textarea class="input-cover" [(ngModel)]="message_text" type="text" (focus)="input_focus($event)" placeholder="입력하세요...."></ion-textarea>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear color="underblack" style="background-color:#ffffff" (click)="chatSend()">전송</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
