<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="underwhite">
    <ion-title>로그인</ion-title>
    <ion-buttons left>
      <button ion-button color="underblack" icon-only (click)="closeModal()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isMember_flag && !login_flag">
    <div class="spacer" style="height: 20px;"></div>
    <div style="padding-left: 10px; padding-right: 10px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item">
          <ion-input #f_email [(ngModel)]="email" type="email" placeholder="이메일" (keypress)="f_email_eventHandler($event)" clearInput></ion-input>
        </ion-item>
      </div>
      <div class="spacer" style="height: 5px;"></div>
      <div class="outline-box">
        <ion-item no-lines class="outline-item">
          <ion-input #f_password [(ngModel)]="password" type="password" placeholder="비밀번호" clearInput></ion-input>
        </ion-item>
      </div>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button block color="1000Under" (click)="DoMemberLogin()">이메일로 로그인</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align="center">
          <button ion-button clear class="btn-text" disabled><span>비밀번호를 잊으셨나요? </span></button>
          <button ion-button clear class="btn-text" (click)="resetPassword()"><span>비밀번호 재설정</span></button>
        </ion-col>
      </ion-row>
      <div *ngIf="otherPageFlag"> 
        <ion-row><div class="spacer" style="height: 10px;"></div></ion-row>
        <ion-row>
          <ion-col col-5 style="padding-top: 10px;"><div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div></ion-col>
          <ion-col col-2 style="padding-top: 0px;" align="center"><span style="font-size: 8pt; color:gray">또는</span></ion-col>
          <ion-col col-5 style="padding-top: 10px;"><div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div></ion-col>
        </ion-row>
        <ion-row><div class="spacer" style="height: 10px;"></div></ion-row>
        <ion-row>
          <ion-col align="center" style="padding-top: 0px; padding-bottom: 0px;">
            <button ion-button icon-start block color="facebook" (click)="DoFbLogin()">
              <ion-icon name="logo-facebook" color="underwhite"></ion-icon>&nbsp;&nbsp;&nbsp;페이스북으로 로그인</button>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align="center" style="padding-top: 0px; padding-bottom: 0px;">
            <button ion-button icon-start block color="google" (click)="DoGoogleLogin()">
              <ion-icon name="logo-google" color="underwhite"></ion-icon>&nbsp;&nbsp;&nbsp;구글로 로그인</button>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align="center" style="padding-top: 0px; padding-bottom: 0px;">
            <button ion-button block color="kakao" (click)="DoKakaoLogin()">
              <img src="img/kakao_logo.png" style="width: auto; height: 40%;">
              <span style="color:#392324;">&nbsp;&nbsp;&nbsp;카카오계정으로 로그인</span></button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align="center">
            <button ion-button clear class="btn-text" disabled><span>천언더가 처음이신가요? </span></button>
            <button ion-button clear class="btn-text" (click)="signUp()"><span>신규 회원가입</span></button>
          </ion-col>
        </ion-row> 
      </div>
    </ion-grid>
  </div>
  
  <div *ngIf="!isMember_flag">
    <div class="spacer" style="height: 20px;"></div>
    <div style="padding-left: 10px; padding-right: 10px;">
      <div class="outline-box">
        <ion-item no-lines class="outline-item">
          <ion-input [(ngModel)]="email" type="email" placeholder="이메일" clearInput></ion-input>
        </ion-item>
      </div>
      <div class="spacer" style="height: 5px;"></div>
      <div class="outline-box">
        <ion-item no-lines class="outline-item">
          <ion-input [(ngModel)]="password" type="password" placeholder="비밀번호" clearInput></ion-input>
        </ion-item>
      </div>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
            <button ion-button block color="1000Under" (click)="DoMemberLogin()">이메일로 로그인</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align="center">
          <button ion-button clear class="btn-text" disabled><span>비밀번호를 잊으셨나요? </span></button>
          <button ion-button clear class="btn-text" (click)="resetPassword()"><span>비밀번호 재설정</span></button>
        </ion-col>
      </ion-row>
      <ion-row><div class="spacer" style="height: 10px;"></div></ion-row>
      <ion-row>
        <ion-col col-5 style="padding-top: 10px;"><div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div></ion-col>
        <ion-col col-2 style="padding-top: 0px;" align="center"><span style="font-size: 8pt; color:gray">또는</span></ion-col>
        <ion-col col-5 style="padding-top: 10px;"><div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div></ion-col>
      </ion-row>
      <ion-row><div class="spacer" style="height: 10px;"></div></ion-row>
      <ion-row>
        <ion-col align="center" style="padding-top: 0px; padding-bottom: 0px;">
          <button ion-button icon-start block color="facebook" (click)="DoFbLogin()">
            <ion-icon name="logo-facebook" color="underwhite"></ion-icon>&nbsp;&nbsp;&nbsp;페이스북으로 로그인</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align="center" style="padding-top: 0px; padding-bottom: 0px;">
          <button ion-button icon-start block color="google" (click)="DoGoogleLogin()">
            <ion-icon name="logo-google" color="underwhite"></ion-icon>&nbsp;&nbsp;&nbsp;구글로 로그인</button>
        </ion-col>
      </ion-row>  
      <ion-row>
        <ion-col align="center" style="padding-top: 0px; padding-bottom: 0px;">
          <button ion-button block color="kakao" (click)="DoKakaoLogin()">
            <img src="img/kakao_logo.png" style="width: auto; height: 40%;">
            <span style="color:#392324;">&nbsp;&nbsp;&nbsp;카카오계정으로 로그인</span></button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align="center">
          <button ion-button clear class="btn-text" disabled><span>천언더가 처음이신가요? </span></button>
          <button ion-button clear class="btn-text" (click)="signUp()"><span>신규 회원가입</span></button>
        </ion-col>
      </ion-row> 
    </ion-grid>
  </div>
</ion-content>
