.ios {
    page-similar-car {
        .head-space {
            background-color: #ffffff !important;   //
            height: 1px;
        }
        .range-bar {
            background-color: #d5d8dc !important;   //
            height: 1px;
        }
        .range-pin,
        .range-pin::before,
        .range-knob{
            background-color: #d5d8dc !important;
            color: black !important;
            width: 25px;
            height: 25px;
        }
        .range-bar-active {
            background-color: #463E3F !important;   //387ef5
            color: black !important;
            height: 3px;
        }
        .text-input {
            text-align: right;
        }
        
    }
}

.md {
    page-similar-car {
        .range-bar {
            background-color: #d5d8dc !important;   //
            height: 1px;
        }
        .range-pin,
        .range-pin::before,
        .range-knob{
            background-color: #d5d8dc !important;
            color: black !important;
            width: 20px;
            height: 20px;
        }
        .range-bar-active {
            background-color: #463E3F !important;   //387ef5
            color: black !important;
            height: 3px;
        }
        .text-input {
            text-align: right;
        }
        
    }
}

page-similar-car { 

    $fab-content-margin: 5px;

    ion-fab[center] {
        left: 80%;
        margin-left: -28px;
    }
    ion-fab[left][bottom] {
        top: 85%;
        margin-left: -10px;
    }

    .fab-in-list {
        background-color: #ffffff;
        //color: #387ef5; //#387ef5;
    }

    .scroll-content {
        height: 100%;
    }

    .map {
        width: 100%;
        height: 50%;
    }

    .top-slides {
        height: auto;
        .swiper-container-horizontal > .swiper-pagination   //location of pager
        {
            bottom: 10%; //Change accordingly
            z-index: 99 !important;
        }
        .swiper-pagination {
            color: #ffffff;
            padding: 3px;
            bottom:0px;
            .swiper-pagination-bullet {
                background: #ffffff;
                box-shadow: 0px 1px grey;
                margin: 0 3px;
            }
        }
    }
    .top-slide {
        //height: auto;
        margin-bottom: 0px;
        height: 230px;
        width: 450px;
    }
    #top-container{
        height: 230px;
        width: 450px;
        overflow: hidden;
    }
    #top-container img{
        width: 100%;
        object-fit: cover;
    }

    .btn .button-inner{
        justify-content:flex-start;
    }
    
    .textOver {
        z-index: 2;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 32.5%;  //x position 
        top: 27.5%;   //y position
        margin: auto;
    } 
}