<ion-header>
  <div class="head-space"></div>
</ion-header>
<ion-content #contentRef (ionScroll)="scrollingCotroll($event)">
<div>
  <ion-slides pager paginationType="fraction" class="top-slides"> <!--  effect="coverflow" : slide, fade, cube, coverflow, flip-->
    <ion-slide *ngFor="let pp of photo_path" class="top-slide">
      <div id="top-container" tappable (click)="imageViewMore(pp.path)">
        <img [src]="pp.path"/>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-fab left top>
    <button ion-fab (click)="dismiss()"
            style="color: #ffffff; background-color: rgba( 255, 255, 255, 0.0 ); box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0), 0 0 0 rgba(0, 0, 0, 0.0);">
            <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
  </ion-fab>
  <div *ngIf="state !== '완료'">
    <ion-fab center top>
      <div *ngIf="is_favorite === '0'">
        <button ion-fab (click)="selectFavoriteCar()"
                style="color: #ffffff; background-color: rgba( 255, 255, 255, 0.0 ); box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0), 0 0 0 rgba(0, 0, 0, 0.0);">
                <ion-icon name="heart"></ion-icon>
        </button>
      </div>
      <div *ngIf="is_favorite === '1'">
        <button ion-fab (click)="selectFavoriteCar()"
                style="color: #37aafe; background-color: rgba( 255, 255, 255, 0.0 ); box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0), 0 0 0 rgba(0, 0, 0, 0.0);">
                <ion-icon name="heart"></ion-icon>
        </button>
      </div>
    </ion-fab>
    <ion-fab right top>
      <button ion-fab (click)="socialShare()"
              style="color: #ffffff; background-color: rgba( 255, 255, 255, 0.0 ); box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0), 0 0 0 rgba(0, 0, 0, 0.0);">
        <ion-icon name="md-share"></ion-icon>
      </button>
    </ion-fab>
  </div>
</div>

<ion-grid>
  <ion-row style="height:45px;">
    <ion-col col-8>
      <h5 align="left">&nbsp;{{price | number:0}}만원 {{maker}} {{model}}</h5>
    </ion-col>
    <ion-col col-4>
      <ion-item *ngIf="is_report !== '1'" no-lines align="center" style="padding-left: 10px;">
        <button ion-button item-right small outline color="buttongray" style="margin-right: 0px; color:#626262;" (click)="report()">
            <span style="font-size: 9pt;">신고하기</span></button>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-8 align="left">
      &nbsp;{{location}} | {{year}}년{{month}}월 | {{mileage | number:0}}km  
    </ion-col>
    <ion-col col-4 align="right">
      <ion-icon name="ios-eye-outline" item-left><span style="font-size: 11pt;">{{view_count | number:0}}</span></ion-icon>
      <ion-icon name="ios-heart-outline" item-left><span style="font-size: 11pt;">{{favorite_count | number:0}}&nbsp;&nbsp;</span></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>

<div *ngIf="regist_type != '0' && regist_type != '0'"> <!-- 유료 등록 차량-->
  <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
  <ion-grid>
    <ion-row align="center">
      <ion-col col-3>
        <img tappable src="img/carDetail/accident_count.png" style="width: 80%; height: auto;" (click)="repairImgView(repairImgPath)"/>
      </ion-col>
      <ion-col col-3>
        <img tappable src="img/carDetail/regist.png" style="width: 80%; height: auto;" (click)="registImgView(registImgPath)"/>
      </ion-col>
      <ion-col col-3>
        <div class="item image-border" align="center">
          <p align="center" class="textOver">{{seizure}}</p>
          <img src="img/carDetail/seizure.png" style="width: 80%; height: auto;"/>
        </div>
      </ion-col>
      <ion-col col-3>
        <div class="item image-border" align="center">
          <p align="center" class="textOver">{{transfer_ownership}}회</p>
          <img src="img/carDetail/transfer_ownership.png" style="width: 80%; height: auto;"/>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="spacer" style="height: 1px; background-color:#eeeeee" ></div>
  <h5 align="center">딜러를 통한 구매 대비 약 {{under_price | number:0}}만원 저렴합니다.</h5>
</div>

<div class="spacer" style="height: 10px; background-color:#eeeeee" ></div>
<h5>&nbsp;&nbsp;&nbsp;차량 정보</h5>
<div class="spacer" style="height: 15px;" ></div>
<ion-grid>
  <ion-row>
    <ion-col col-6 align="left"><span style="font-size: 12pt; color:#626262;">&nbsp;차량번호</span></ion-col>
    <ion-col col-6 align="right"><span style="font-size: 12pt;">{{car_number}}&nbsp;</span></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-6 align="left"><span style="font-size: 12pt; color:#626262;">&nbsp;연식</span></ion-col>
    <ion-col col-6 align="right"><span style="font-size: 12pt;">{{year}}년{{month}}월&nbsp;</span></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-6 align="left"><span style="font-size: 12pt; color:#626262;">&nbsp;주행거리</span></ion-col>
    <ion-col col-6 align="right"><span style="font-size: 12pt;">{{mileage | number:0}}km&nbsp;</span></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-6 align="left"><span style="font-size: 12pt; color:#626262;">&nbsp;연료/변속기</span></ion-col>
    <ion-col col-6 align="right"><span style="font-size: 12pt;">{{puer}}/{{gear}}&nbsp;</span></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-6 align="left"><span style="font-size: 12pt; color:#626262;">&nbsp;차종/색상</span></ion-col>
    <ion-col col-6 align="right"><span style="font-size: 12pt;">{{model_type}}/{{color}}&nbsp;</span></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-6 align="left"><span style="font-size: 12pt; color:#626262;">&nbsp;차량등급</span></ion-col>
    <ion-col col-6 align="right"><span style="font-size: 12pt;">{{model_level}}&nbsp;</span></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-6 align="left"><span style="font-size: 12pt; color:#626262;">&nbsp;등록일자</span></ion-col>
    <ion-col col-6 align="right"><span style="font-size: 12pt;">{{regist_date}}&nbsp;</span></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3 align="left"><span style="font-size: 12pt; color:#626262;">&nbsp;추가옵션</span></ion-col>
    <ion-col col-9 align="right"><span style="font-size: 12pt;">{{additory_options}}&nbsp;</span></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3 align="left"><span style="font-size: 12pt; color:#626262;">&nbsp;수리내역</span></ion-col>
    <ion-col col-9 align="right"><span style="font-size: 12pt;">{{repair}}&nbsp;</span></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3 align="left"><span style="font-size: 12pt; color:#626262;">&nbsp;교체내역</span></ion-col>
    <ion-col col-9 align="right"><span style="font-size: 12pt;">{{replacement}}&nbsp;</span></ion-col>
  </ion-row>
</ion-grid>
<div class="spacer" style="height: 15px;" ></div>
<div class="spacer" style="height: 10px; background-color:#eeeeee"></div>
<ion-item-group>
  <!-- [1:네비게이션, 2:선루프, 3:블랙박스, 4:제조사보증, 5:후방센서, 6:START버튼, 7:후방카메라, 8:열선시트] -->
  <h5>&nbsp;&nbsp;&nbsp;주요옵션</h5>
  <div class="spacer" style="height: 15px;" ></div>
  <ion-grid>
    <ion-row align="center">
      <ion-col col-3 *ngIf="navigationFlag"><img src="img/option/navigation_on.png" style="width: 80%; height: auto;"/></ion-col>
      <ion-col col-3 *ngIf="!navigationFlag"><img src="img/option/navigation_off.png" style="width: 80%; height: auto;"></ion-col>
      <ion-col col-3 *ngIf="sunLoopFlag"><img src="img/option/sunLoop_on.png" style="width: 80%; height: auto;"/></ion-col>
      <ion-col col-3 *ngIf="!sunLoopFlag"><img src="img/option/sunLoop_off.png" style="width: 80%; height: auto;"/></ion-col>
      <ion-col col-3 *ngIf="blackBoxFlag"><img src="img/option/blackBox_on.png" style="width: 80%; height: auto;"/></ion-col>
      <ion-col col-3 *ngIf="!blackBoxFlag"><img src="img/option/blackBox_off.png" style="width: 80%; height: auto;"/></ion-col>
      <ion-col col-3 *ngIf="warrantyFlag"><img src="img/option/warranty_on.png" style="width: 80%; height: auto;"/></ion-col>
      <ion-col col-3 *ngIf="!warrantyFlag"><img src="img/option/warranty_off.png" style="width: 80%; height: auto;"/></ion-col>
    </ion-row>
    <ion-row align="center"> 
      <ion-col col-3 *ngIf="rearSensorFlag"><img src="img/option/rearSensor_on.png" style="width: 80%; height: auto;"/></ion-col>
      <ion-col col-3 *ngIf="!rearSensorFlag"><img src="img/option/rearSensor_off.png" style="width: 80%; height: auto;"/></ion-col>      
      <ion-col col-3 *ngIf="startButtonFlag"><img src="img/option/startButton_on.png" style="width: 80%; height: auto;"/></ion-col>
      <ion-col col-3 *ngIf="!startButtonFlag"><img src="img/option/startButton_off.png" style="width: 80%; height: auto;"/></ion-col>
      <ion-col col-3 *ngIf="rearCameraFlag"><img src="img/option/rearCamera_on.png" style="width: 80%; height: auto;"/></ion-col>
      <ion-col col-3 *ngIf="!rearCameraFlag"><img src="img/option/rearCamera_off.png" style="width: 80%; height: auto;"/></ion-col> 
      <ion-col col-3 *ngIf="heatingSeatFlag"><img src="img/option/heatingSeat_on.png" style="width: 80%; height: auto;"/></ion-col>
      <ion-col col-3 *ngIf="!heatingSeatFlag"><img src="img/option/heatingSeat_off.png" style="width: 80%; height: auto;"/></ion-col>
    </ion-row>
  </ion-grid>
</ion-item-group>
<div class="spacer" style="height: 15px;" ></div>
<div class="spacer" style="height: 10px; background-color:#eeeeee"></div>

<h5>&nbsp;&nbsp;&nbsp;차량 위치</h5>
<div class="spacer" style="height: 15px;" ></div>
<ion-item no-lines>{{address}}</ion-item>
<div map id="smap" class="map"></div>
<div class="spacer" style="height: 10px;"></div>
<div class="spacer" style="height: 10px; background-color:#eeeeee"></div>

<h5>&nbsp;&nbsp;&nbsp;내차 소개</h5>
<div class="spacer" style="height: 15px;" ></div>
<!--
<video *ngIf="u_link !== null" style="border: 5px; padding-left: 10px; padding-right: 10px;" width="100%" controls>
  <source [src]="u_link" type="video/mp4">
</video>
-->
<ion-item no-lines text-wrap>
  <p style="white-space: pre-wrap; color: black; font-size: 12pt;">{{memo}}</p>
</ion-item>
<div class="spacer" style="height: 15px;" ></div>

<div class="spacer" style="height: 10px; background-color:#eeeeee"></div>
<div class="spacer" style="height: 5px;" ></div>
<button style="height: 40px;" ion-item no-lines (click)="loanLimit()">내 대출한도는 얼마인가요?</button>
<div class="spacer" style="height: 5px;" ></div>

<div class="spacer" style="height: 10px; background-color:#eeeeee"></div>
<div class="spacer" style="height: 5px;" ></div>
<a style="height: 40px;" ion-item no-lines [href]="outerLink_ins" (click)="insuranceQustion()">이 차의 보험료가 궁금하세요?</a>
<div class="spacer" style="height: 5px;" ></div>

<div class="spacer" style="height: 10px; background-color:#eeeeee"></div>
<div class="spacer" style="height: 15px;" ></div>

<ion-grid>
  <ion-row>
    <ion-col col-6 style="padding-top: 0px; padding-bottom: 0px;">
      <button ion-button block color='1000Under' icon-left (click)="callToUnder()">전화하기</button>
    </ion-col>
    <ion-col col-6 style="padding-top: 0px; padding-bottom: 0px;">
      <button ion-button block color='1000Under' icon-left (click)="chatWithUnder()">채팅하기</button>
    </ion-col>
  </ion-row>
</ion-grid>
<br>
<ion-fab class='myfab1' left bottom>
    <button ion-fab mini style="color: #000000; background-color: #ffffff; " (click)="dismiss()"><ion-icon name="arrow-back"></ion-icon></button>
</ion-fab>
</ion-content>
