<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="underwhite">
    <ion-buttons left>
      <button ion-button color="underblack" icon-only (click)="closeModal()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>차량 검색 조건</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="spacer" style="height: 10px;"></div>
  <h6>&nbsp;&nbsp;&nbsp;차종</h6>
  <ion-grid>
    <ion-row>
      <ion-col col-3 *ngIf="largeFlag"><img tappable src="img/icon/search/large_on.png" style="width: 80%; height: auto;" (click)="largeOnOff()"/></ion-col>
      <ion-col col-3 *ngIf="!largeFlag"><img tappable src="img/icon/search/large_off.png" style="width: 80%; height: auto;" (click)="largeOnOff()"/></ion-col>
      <ion-col col-3 *ngIf="mediumFlag"><img tappable src="img/icon/search/medium_on.png" style="width: 80%; height: auto;" (click)="mediumOnOff()"/></ion-col>
      <ion-col col-3 *ngIf="!mediumFlag"><img tappable src="img/icon/search/medium_off.png" style="width: 80%; height: auto;" (click)="mediumOnOff()"/></ion-col>
      <ion-col col-3 *ngIf="semiMediumFlag"><img tappable src="img/icon/search/semi-medium_on.png" style="width: 80%; height: auto;" (click)="semiMediumOnOff()"/></ion-col>
      <ion-col col-3 *ngIf="!semiMediumFlag"><img tappable src="img/icon/search/semi-medium_off.png" style="width: 80%; height: auto;" (click)="semiMediumOnOff()"/></ion-col>
      <ion-col col-3 *ngIf="smallFlag"><img tappable src="img/icon/search/small_on.png" style="width: 80%; height: auto;" (click)="smallOnOff()"/></ion-col>
      <ion-col col-3 *ngIf="!smallFlag"><img tappable src="img/icon/search/small_off.png" style="width: 80%; height: auto;" (click)="smallOnOff()"/></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 *ngIf="extraSmallFlag"><img tappable src="img/icon/search/extra-small_on.png" style="width: 80%; height: auto;" (click)="extraSmallOnOff()"/></ion-col>
      <ion-col col-3 *ngIf="!extraSmallFlag"><img tappable src="img/icon/search/extra-small_off.png" style="width: 80%; height: auto;" (click)="extraSmallOnOff()"/></ion-col>
      <ion-col col-3 *ngIf="suvFlag"><img tappable src="img/icon/search/suv_on.png" style="width: 80%; height: auto;" (click)="suvOnOff()"/></ion-col>
      <ion-col col-3 *ngIf="!suvFlag"><img tappable src="img/icon/search/suv_off.png" style="width: 80%; height: auto;" (click)="suvOnOff()"/></ion-col>
      <ion-col col-3 *ngIf="importFlag"><img tappable src="img/icon/search/import_on.png" style="width: 80%; height: auto;" (click)="importOnOff()"/></ion-col>
      <ion-col col-3 *ngIf="!importFlag"><img tappable src="img/icon/search/import_off.png" style="width: 80%; height: auto;" (click)="importOnOff()"/></ion-col>
      <ion-col col-3 *ngIf="etcFlag"><img tappable src="img/icon/search/etc_on.png" style="width: 80%; height: auto;" (click)="etcOnOff()"/></ion-col>
      <ion-col col-3 *ngIf="!etcFlag"><img tappable src="img/icon/search/etc_off.png" style="width: 80%; height: auto;" (click)="etcOnOff()"/></ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>    
    <ion-item no-lines>
      <h2>가격(만원)</h2>
      <button ion-button item-right icon-right [outline]="!directPriceFlag" color="dark" (click)="directPrice()">직접입력
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-item>
    <div>
      <div *ngIf="!priceFlag">
        <p align="center" style="margin-top: 5px; margin-bottom: 5px;">전체</p>
      </div>
      <div *ngIf="priceFlag">
        <p align="center" style="margin-top: 5px; margin-bottom: 5px;">{{viewMinPrice | number:0}} - {{viewMaxPrice | number:0}}만원</p>
      </div>
      <ion-range (ionChange)="updatePrice(carPrice.lower, carPrice.upper);" dualKnobs="true" min={{minPrice}} max={{maxPrice}} step="10" snaps="false" pin="false" 
                [(ngModel)]="carPrice" color="primary" style="padding-top: 0px; padding-bottom: 0px;">
        <ion-label range-left>최소</ion-label>
        <ion-label range-right>최대</ion-label>
      </ion-range>
    </div>
  </ion-card>
  <ion-card>
    <ion-item no-lines>
      <h2>연식(년도)</h2>
      <button ion-button item-right icon-right [outline]="!directYearFlag" color="dark" (click)="directYear()">직접입력
        <ion-icon name="add" is-active="false"></ion-icon>
      </button>
    </ion-item>
    <div>
      <div *ngIf="!yearFlag">
        <p align="center" style="margin-top: 5px; margin-bottom: 5px;">전체</p>
      </div>
      <div *ngIf="yearFlag">
        <p align="center" style="margin-top: 5px; margin-bottom: 5px;">{{viewMinYear}} - {{viewMaxYear}}년</p>
      </div>
      <ion-range (ionChange)="updateYear(carYear.lower, carYear.upper);" dualKnobs="true" min={{minYear}} max={{maxYear}} step="1" snaps="false" pin="false"
                [(ngModel)]="carYear" color="primary" style="padding-top: 0px; padding-bottom: 0px;">
        <ion-label range-left>최소</ion-label>
        <ion-label range-right>최대</ion-label>
      </ion-range>
    </div>
  </ion-card>
  <ion-card>
    <ion-item no-lines>
      <h2>주행거리(Km)</h2>
      <button ion-button item-right icon-right [outline]="!directKmFlag" color="dark" (click)="directKm()">직접입력
        <ion-icon name="add" is-active="false"></ion-icon>
      </button>  
    </ion-item>
    <div>
      <div *ngIf="!kmFlag">
        <p align="center" style="margin-top: 5px; margin-bottom: 5px;">전체</p>
      </div>
      <div *ngIf="kmFlag">
        <p align="center" style="margin-top: 5px; margin-bottom: 5px;">{{viewMinKm | number:0}} - {{viewMaxKm | number:0}}Km</p>
      </div>
      <ion-range (ionChange)="updateKm(carKm.lower, carKm.upper);" dualKnobs="true" min={{minKm}} max={{maxKm}} step="20000" snaps="false" pin="false" 
                [(ngModel)]="carKm" color="primary" style="padding-top: 0px; padding-bottom: 0px;">
        <ion-label range-left>최소</ion-label>
        <ion-label range-right>최대</ion-label>
      </ion-range>
    </div>
  </ion-card>
  <ion-card>
    <ion-item no-lines>
      <ion-label>연료</ion-label>
      <ion-select [(ngModel)]="puer" cancelText="취소" okText="선택" (ionChange)="selectedPuer($event)">
        <ion-option *ngFor="let p of puers" [value]="p.id">{{ p.puer }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item no-lines>
      <ion-label>변속기</ion-label>
      <ion-select [(ngModel)]="gear" cancelText="취소" okText="선택" (ionChange)="selectedGear()">
        <ion-option *ngFor="let t of gears" [value]="t.id">{{ t.gear }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <ion-grid>
    <ion-row style="padding-left: 5px; padding-right: 5px;">
      <button ion-button block color='1000Under' (click)="selected()">선택 완료</button>
    </ion-row>
  </ion-grid>
  <div class="spacer" style="height: 10px;"></div>
</ion-content>
