.ios {
    page-search-other-conditions {
        .head-space {
            background-color: #ffffff !important;   //
            height: 1px;
        }
        .range-bar {
            background-color: #d8d8d8 !important;   //
            height: 1px;
        }
        .range-pin,
        .range-pin::before,
        .range-knob{
            background-color: #ffffff !important;
            color: black !important;
            width: 25px;
            height: 25px;
            //box-shadow: 0 3px 1px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .13), 0 0 0 1px rgba(0, 0, 0, .02);
            box-shadow: 0 3px 1px rgba(0, 0, 0, .2), 0 4px 8px rgba(0, 0, 0, .13), 0 0 0 1px rgba(0, 0, 0, .02);          
        }
        .range-bar-active {
            background-color: #000000 !important;   //387ef5
            color: black !important;
            height: 3px;
        }
        .text-input {
            text-align: right;
        }
        
    }
}

.md {
    page-search-other-conditions {
        .range-bar {
            background-color: #d8d8d8 !important;   //
            height: 1px;
        }
        .range-pin,
        .range-pin::before,
        .range-knob{
            background-color: #ffffff !important;
            color: black !important;
            width: 20px;
            height: 20px;
            box-shadow: 0 3px 1px rgba(0, 0, 0, .2), 0 4px 8px rgba(0, 0, 0, .13), 0 0 0 1px rgba(0, 0, 0, .02);
        }
        .range-bar-active {
            background-color: #000000 !important;   //387ef5
            color: black !important;
            height: 3px;
        }
        .text-input {
            text-align: right;
        }
        
    }
}

page-search-other-conditions {

    .title.title-md {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        width: 70%;
        text-align: center;
    }
    .input-cover{position: static}
    
}
