.ios {
    page-set-others {
        .head-space {
            background-color: #ffffff !important;   //
            height: 1px;
        }
    }
}

page-set-others {
    
    .title.title-md {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        width: 70%;
        text-align: center;
    }
    .input-cover{position: static}
    
    .action-sheets-page {
        .action-sheet-destructive {
            color: #ED4248;
        }
    }

    .btn-start .button-inner{
        justify-content:flex-start;
    } 

}
