<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="underwhite">
    <ion-buttons left>
      <button ion-button icon-only color="underblack" (click)="closeModal()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>환경설정</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="action-sheets-page">
  <ion-item no-lines>
    <ion-label><span style="font-size: 13pt;">알림</span></ion-label>
    <ion-toggle [(ngModel)]="isPush" color="1000Under" (ionChange)="checkPush()"></ion-toggle>
  </ion-item>
  <div class="spacer" style="height: 5px;"></div>
  <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
  <button class="btn-start" ion-item detail-none no-lines block clear (click)="termsUse()"><span style="font-size: 13pt;">이용약관</span>
    <ion-icon name="ios-arrow-forward" item-end color="undergray"></ion-icon>
  </button>
  <div class="spacer" style="height: 5px;"></div>
  <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
  <ion-item no-lines>
    <ion-label><span style="font-size: 13pt;">버전정보</span></ion-label>
    <div item-content>
      {{version}}
    </div>
  </ion-item>
  <div class="spacer" style="height: 5px;"></div>
  <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
  <button class="btn-start" ion-item detail-none no-lines block clear (click)="logout()"><span style="font-size: 13pt;">로그아웃</span>
    <ion-icon name="ios-arrow-forward" item-end color="undergray"></ion-icon>
  </button>
  <div class="spacer" style="height: 5px;"></div>
  <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
  <button class="btn-start" ion-item detail-none no-lines block clear (click)="memberLeave()"><span style="font-size: 13pt;">회원탈퇴</span>
    <ion-icon name="ios-arrow-forward" item-end color="undergray"></ion-icon>
  </button>
</ion-content>
