<ion-tabs selectedIndex="0">
  <ion-tab [root]="tab1Root" tabTitle="홈" tabIcon="ios-home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="차량" tabIcon="ios-photos"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="찜" tabIcon="ios-heart"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="채팅" tabIcon="ios-text" [tabBadge]="unread_count" tabBadgeStyle="danger"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="더보기" tabIcon="ios-more"></ion-tab>
</ion-tabs>
