/*
.tabs-md .tab-button-icon {
    color: #222;
}
*/
/*
.tabbar, .tabs-ios, .tabs-md , .tabs-wp{
    .tab-button-icon {
        background-repeat:no-repeat;
        background-position:center;
        height:24px;
        width:24px;
        background-size:contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        &:before {
            display:none;
        }
    }
}

.tabs-ios {
  a[aria-selected=false]{
     .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label="home"] {
      background-image: url(./img/tabIcons/home_i.png);
    }
    .tab-button-icon[ng-reflect-name=cars], .tab-button-icon[aria-label=cars] {
      background-image: url(./img/tabIcons/cars_i.png);
    }
    .tab-button-icon[ng-reflect-name=favorite], .tab-button-icon[aria-label=favorite] {
      background-image: url(./img/tabIcons/favorite_i.png);
    }
    .tab-button-icon[ng-reflect-name=chats], .tab-button-icon[aria-label=chats] {
      background-image: url(./img/tabIcons/chat_i.png);
    }
    .tab-button-icon[ng-reflect-name=profile], .tab-button-icon[aria-label=profile] {
      background-image: url(./img/tabIcons/profile_i.png);
    }
  }
 a[aria-selected=true] {
     .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
      background-image: url(./img/tabIcons/home_a.png);
    }
    .tab-button-icon[ng-reflect-name=cars], .tab-button-icon[aria-label=cars] {
      background-image: url(./img/tabIcons/cars_a.png);
    }
    .tab-button-icon[ng-reflect-name=favorite], .tab-button-icon[aria-label=favorite] {
      background-image: url(./img/tabIcons/favorite_a.png);
    }
    .tab-button-icon[ng-reflect-name=chats], .tab-button-icon[aria-label=chats] {
      background-image: url(./img/tabIcons/chat_a.png);
    }
    .tab-button-icon[ng-reflect-name=profile], .tab-button-icon[aria-label=profile] {
      background-image: url(./img/tabIcons/profile_a.png);
    }
  }
}

// ios image.svg

.tabs-ios {
 a[aria-selected=false]{
   .tab-button-icon[ng-reflect-name=inicio], .tab-button-icon[aria-label="home outline"] {
      background-image: url(../assets/tabIcons/home-off.svg);
   }
   .tab-button-icon[ng-reflect-name=explorar], .tab-button-icon[aria-label="explore outline"] {
      background-image: url(../assets/tabIcons/explore-off.svg);
   }
   .tab-button-icon[ng-reflect-name=news], .tab-button-icon[aria-label="news outline"] {
      background-image: url(../assets/tabIcons/news-off.svg);
   }
   .tab-button-icon[ng-reflect-name=user], .tab-button-icon[aria-label="user outline"] {
      background-image: url(../assets/tabIcons/users-off.svg);
   }
 }
a[aria-selected=true] {
   .tab-button-icon[ng-reflect-name=inicio], .tab-button-icon[aria-label="home"] {
      background-image: url(../assets/tabIcons/home-on.svg);
   }
   .tab-button-icon[ng-reflect-name=explorar], .tab-button-icon[aria-label=explorar] {
      background-image: url(../assets/tabIcons/explore-on.svg);
   }
   .tab-button-icon[ng-reflect-name=news], .tab-button-icon[aria-label=news] {
      background-image: url(../assets/tabIcons/news-on.svg);
   }
   .tab-button-icon[ng-reflect-name=user], .tab-button-icon[aria-label=user] {
      background-image: url(../assets/tabIcons/users-on.svg);
   }
 }
}


.tabs-md {
  a[aria-selected=false]{
    .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label="home"] {
      background-image: url(./img/tabIcons/home_i.png);
    }
    .tab-button-icon[ng-reflect-name=cars], .tab-button-icon[aria-label=cars] {
      background-image: url(./img/tabIcons/cars_i.png);
    }
    .tab-button-icon[ng-reflect-name=favorite], .tab-button-icon[aria-label=favorite] {
      background-image: url(./img/tabIcons/favorite_i.png);
    }
    .tab-button-icon[ng-reflect-name=chats], .tab-button-icon[aria-label=chats] {
      background-image: url(./img/tabIcons/chat_i.png);
    }
    .tab-button-icon[ng-reflect-name=profile], .tab-button-icon[aria-label=profile] {
      background-image: url(./img/tabIcons/profile_i.png);
    }
  }

 a[aria-selected=true] {
    .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
      background-image: url(./img/tabIcons/home_a.png);
    }
    .tab-button-icon[ng-reflect-name=cars], .tab-button-icon[aria-label=cars] {
      background-image: url(./img/tabIcons/cars_a.png);
    }
    .tab-button-icon[ng-reflect-name=favorite], .tab-button-icon[aria-label=favorite] {
      background-image: url(./img/tabIcons/favorite_a.png);
    }
    .tab-button-icon[ng-reflect-name=chats], .tab-button-icon[aria-label=chats] {
      background-image: url(./img/tabIcons/chat_a.png);
    }
    .tab-button-icon[ng-reflect-name=profile], .tab-button-icon[aria-label=profile] {
      background-image: url(./img/tabIcons/profile_a.png);
    }
  }
}

.tabs-wp {
  a[aria-selected=false]{
    .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label="home"] {
      background-image: url(./img/tabIcons/home_i.png);
    }
    .tab-button-icon[ng-reflect-name=cars], .tab-button-icon[aria-label=cars] {
      background-image: url(./img/tabIcons/cars_i.png);
    }
    .tab-button-icon[ng-reflect-name=favorite], .tab-button-icon[aria-label=favorite] {
      background-image: url(./img/tabIcons/favorite_i.png);
    }
    .tab-button-icon[ng-reflect-name=chats], .tab-button-icon[aria-label=chats] {
      background-image: url(./img/tabIcons/chat_i.png);
    }
    .tab-button-icon[ng-reflect-name=profile], .tab-button-icon[aria-label=profile] {
      background-image: url(./img/tabIcons/profile_i.png);
    }
  }

 a[aria-selected=true] {
    .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
      background-image: url(./img/tabIcons/home_a.png);
    }
    .tab-button-icon[ng-reflect-name=cars], .tab-button-icon[aria-label=cars] {
      background-image: url(./img/tabIcons/cars_a.png);
    }
    .tab-button-icon[ng-reflect-name=favorite], .tab-button-icon[aria-label=favorite] {
      background-image: url(./img/tabIcons/favorite_a.png);
    }
    .tab-button-icon[ng-reflect-name=chats], .tab-button-icon[aria-label=chats] {
      background-image: url(./img/tabIcons/chat_a.png);
    }
    .tab-button-icon[ng-reflect-name=profile], .tab-button-icon[aria-label=profile] {
      background-image: url(./img/tabIcons/profile_a.png);
    }
  }
}
*/