<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="primary">
    <ion-title>찜</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="showFavorite && login_flag">
      <div align="center">    
        <div no-margin no-padding *ngFor="let car of cars">
          <div *ngIf="car.photo_height > 500" class="image-wrapper">
            <div *ngIf="car.state === '판매중'">
              <div class="pcar-image"> 
                <div class="centered">
                  <img [src]="car.photo_path" tappable (click)="naviCarDetailPage(car.key)"/>
                </div>
              </div>
            </div>
            <div *ngIf="car.state === '검수'">
              <div class="pcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                                  'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
                <div class="centered">
                  <img src="img/state/inspecting.png" style="height: 150px; width: 150px;" tappable (click)="naviCarDetailPage(car.key)"/>
                </div>
              </div>
            </div>
            <div *ngIf="car.state === '거래중'">
              <div class="pcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                                  'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
                <div class="centered">
                  <img src="img/state/dealing.png" style="height: 150px; width: 150px;" tappable (click)="naviCarDetailPage(car.key)"/>
                </div>
              </div>
            </div>
            <div *ngIf="car.state === '완료'">
              <div class="pcar-image" [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                                'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
                <div class="centered">
                  <img src="img/state/sold.png" style="height: 150px; width: 150px;" tappable (click)="naviCarDetailPage(car.key)"/>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="car.photo_height <= 500" class="image-wrapper">
            <div *ngIf="car.state === '판매중'">
              <div class="lcar-image"> 
                <div class="centered">
                  <img [src]="car.photo_path" tappable (click)="naviCarDetailPage(car.key)"/>
                </div>
              </div>
            </div>
            <div *ngIf="car.state === '검수'">
              <div class="lcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                                  'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
                <div class="centered">
                  <img src="img/state/inspecting.png" style="height: 150px; width: 150px;" tappable (click)="naviCarDetailPage(car.key)"/>
                </div>
              </div>
            </div>
            <div *ngIf="car.state === '거래중'">
              <div class="lcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                                  'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
                <div class="centered">
                  <img src="img/state/dealing.png" style="height: 150px; width: 150px;" tappable (click)="naviCarDetailPage(car.key)"/>
                </div>
              </div>
            </div>
            <div *ngIf="car.state === '완료'">
              <div class="lcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                                  'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
                <div class="centered">
                  <img src="img/state/sold.png" style="height: 150px; width: 150px;" tappable (click)="naviCarDetailPage(car.key)"/>
                </div>
              </div>
            </div>
          </div>
          <ion-row style="height: 45px;">
            <ion-col col-10>
              <h5 align="left">&nbsp;{{car.price | number:0}}만원 {{car.maker}} {{car.model}}</h5>
            </ion-col>
            <ion-col col-2>
              <button ion-button  color="1000Under" clear icon-only (click)="deleteMyFavoriteCar(car.key)"><ion-icon mini name="heart"></ion-icon></button>
            </ion-col>
          </ion-row>            
          <ion-row align="left">
            <ion-col col-10>
              &nbsp;{{car.address}} | {{car.year}}년 | {{car.mileage | number:0}}km |  
              <ion-icon name="ios-eye-outline" item-left><span style="font-size: 11pt;">{{car.view_count | number:0}}</span></ion-icon>
            </ion-col>
          </ion-row>
          <br>
          <div class="spacer" style="height: 10px; background-color: #eeeeee;"></div>
        </div>
      </div>
  </div>
  <div *ngIf="showFavorite && !login_flag">
      <div class="spacer" style="height: 160px;"></div>
      <div align="center"><img src="img/notLoginFavorite.png" style="height: 15%; width: 15%"/></div>
      <h5 align="center">마음에 드는 차량을 찜해보세요!</h5>
      <p align="center"><span style="font-size: 10pt; color:#999999">국내 최대 중고차 안심직거래앱 천언더<br>지금 바로 로그인하시고 마음에 드는 차량을 찜하세요!</span></p>
      <div align="center">
        <button ion-button color="1000Under" style="box-shadow: none !important;" (click)="checkLogin()">천언더 로그인</button>
      </div>
  </div>
  <div *ngIf="!showFavorite && login_flag">
      <div class="spacer" style="height: 160px;"></div>
      <div align="center"><img src="img/isLoginFavorite.png" style="height: 15%; width: 15%"/></div>
      <h5 align="center">현재 찜한 차량이 없습니다.</h5>
      <p align="center"><span style="font-size: 10pt; color:#999999">국내 최대 중고차 안심직거래앱 천언더<br>내 차가 될 미래의 차를 찜해보세요! 미래가 현실이 됩니다.</span></p>
  </div>
  <div *ngIf="!showFavorite && !login_flag">
      <div class="spacer" style="height: 160px;"></div>
      <div align="center"><img src="img/notLoginFavorite.png" style="height: 15%; width: 15%"/></div>
      <h5 align="center">마음에 드는 차량을 찜해보세요!</h5>
      <p align="center"><span style="font-size: 10pt; color:#999999">국내 최대 중고차 안심직거래앱 천언더<br>지금 바로 로그인하시고 마음에 드는 차량을 찜하세요!</span></p>
      <div align="center">
        <button ion-button color="1000Under" style="box-shadow: none !important;" (click)="checkLogin()">천언더 로그인</button>
      </div>
  </div>
  <ion-infinite-scroll *ngIf="doInfiniteFlag" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>