.ios {
    page-car-detail {
        .head-space {
            background-color: #ffffff !important;   //
            height: 1px;
        }
        .range-bar {
            background-color: #d5d8dc !important;   //
            height: 1px;
        }
        .range-pin,
        .range-pin::before,
        .range-knob{
            background-color: #d5d8dc !important;
            color: black !important;
            width: 25px;
            height: 25px;
        }
        .range-bar-active {
            background-color: #463E3F !important;   //387ef5
            color: black !important;
            height: 3px;
        }
        .text-input {
            text-align: right;
        }
        
    }
}

.md {
    page-car-detail {
        .range-bar {
            background-color: #d5d8dc !important;   //
            height: 1px;
        }
        .range-pin,
        .range-pin::before,
        .range-knob{
            background-color: #d5d8dc !important;
            color: black !important;
            width: 20px;
            height: 20px;
        }
        .range-bar-active {
            background-color: #463E3F !important;   //387ef5
            color: black !important;
            height: 3px;
        }
        .text-input {
            text-align: right;
        }
        
    }
}

page-car-detail { 

    $fab-content-margin: 5px;

    ion-fab[center][top] {
        left: 80%;
        margin-left: -28px;
    }
    ion-fab[left][bottom] {
        top: 85%;
        margin-left: -10px;
    }
    .fab-in-list {
        background-color: #ffffff;
    }

    .scroll-content {
        height: 100%;
    }

    .map {
        width: 100%;
        height: 50%;
    }

    .transparent-card{
        background-color: transparent;
    }

    .top-slides {
        height: auto !important;
        .swiper-container-horizontal > .swiper-pagination   //location of pager
        {
            bottom: 10%; //Change accordingly
            z-index: 99 !important;
        }
        .swiper-pagination {
            color: #ffffff;
            padding: 3px;
            bottom:0px;
            .swiper-pagination-bullet {
                background: #ffffff;
                box-shadow: 0px 1px grey;
                margin: 0 3px;
            }
        }
    }
    .top-slide {
        //height: auto;
        margin-bottom: 0px;
        height: 230px;
        width: 450px;
    }
    #top-container{
        height: 230px;
        width: 450px;
        overflow: hidden;
    }
    #top-container img{
        width: 100%;
        object-fit: cover;
    }

    .car-slides {
        height: auto;
    }
    .car-slide {
        height: 145px !important; 
        width: 170px !important;
        background-color: #ffffff;
        border: 1px solid #eeeeee; //#424242; black;
    }
    .car-container{
        height: 90px;
        width: 160px;
        overflow: hidden;
    }
    .car-container img{
        width: 100%;
        object-fit: cover;
    }
    .img-over {
        z-index: 2;
        width: 75px;
        height: 75px;
        position: absolute;
        left: 35%;
        top: 17.5%;
        margin: auto;
    }
    .btn .button-inner{
        justify-content:flex-start;
    }

    .image-border {
        position: relative;
        background: #ffffff;
    }

    .textOver {
        z-index: 2;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 32.5%;  //x position 
        top: 22.5%;   //y position 27.5% --> up 22.5%
        margin: auto;
    }    
}