<ion-content class="main-view">
  <!-- <div class="overlay" (click)="dismiss()"></div> -->
  <div class="modal_content" (click)="dismiss()">
    <ion-item no-lines>
      <ion-avatar item-start>
        <img src="img/1000under-logo.png">
      </ion-avatar>
      <h2>{{target_name}}</h2>
      <p>새로운 메시지가 도착했습니다.</p>
      <button *ngIf="target_email != 'ChatsPage'" ion-button item-end color="undergray" (click)="goChatBoard()">보기</button>
    </ion-item>
  </div>
</ion-content>
