<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="underwhite">
    <ion-buttons left>
      <button ion-button icon-only  color="underblack" (click)="closeModal()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>이용 약관</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [innerHTML]="termUseContent"></div>
</ion-content>
