<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="underwhite">
    <ion-buttons left>
      <button ion-button icon-only  color="underblack" (click)="closeModal()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>차량 신고</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item radio-group *ngFor="let rt of reportTypes" [(ngModel)]="type">
    <ion-label>{{rt.type}}</ion-label>
    <ion-radio value="{{rt.type}}"></ion-radio>
  </ion-item>
  <div class="spacer" style="height: 15px;"></div>
  <ion-item no-lines>
    <ion-textarea [(ngModel)]="memo" placeholder="신고 사유를 입력해주세요."></ion-textarea>
  </ion-item>
  <div class="spacer" style="height: 15px;"></div>
  <ion-grid>
    <ion-row style="padding-left: 5px; padding-right: 5px;">
      <button ion-button block color='1000Under' (click)="submitReport()">신고하기</button>
    </ion-row>
  </ion-grid>
</ion-content>