<ion-content class="main-view">
  <div class="overlay" (click)="dismiss()"></div>
  <div class="modal_content">
    <ion-item no-lines>
      <ion-avatar item-start>
        <img src="img/1000under-logo.png">
      </ion-avatar>
      <h2>{{target_name}}</h2>
      <p>This is Banner......</p>
      <button ion-button color="underblack" clear icon-only item-end (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-item>
      <ion-item no-lines>
        <img src="img/1000under-logo.png">
      </ion-item>
      <p>
        Action Sheets
        Action Sheets slide up from the bottom edge of the device screen, and display a set of options with the ability to confirm or cancel an action. Action Sheets can sometimes be used as an alternative to menus, however, they should not be used for navigation.
        The Action Sheet always appears above any other components on the page, and must be dismissed in order to interact with the underlying content. When it is triggered, the rest of the page darkens to give more focus to the Action Sheet options.
      </p>
      <p>
        Action Sheets
        Action Sheets slide up from the bottom edge of the device screen, and display a set of options with the ability to confirm or cancel an action. Action Sheets can sometimes be used as an alternative to menus, however, they should not be used for navigation.
        The Action Sheet always appears above any other components on the page, and must be dismissed in order to interact with the underlying content. When it is triggered, the rest of the page darkens to give more focus to the Action Sheet options.
      </p>
      <p>
        Action Sheets
        Action Sheets slide up from the bottom edge of the device screen, and display a set of options with the ability to confirm or cancel an action. Action Sheets can sometimes be used as an alternative to menus, however, they should not be used for navigation.
        The Action Sheet always appears above any other components on the page, and must be dismissed in order to interact with the underlying content. When it is triggered, the rest of the page darkens to give more focus to the Action Sheet options.
      </p>
      <p>
        Action Sheets
        Action Sheets slide up from the bottom edge of the device screen, and display a set of options with the ability to confirm or cancel an action. Action Sheets can sometimes be used as an alternative to menus, however, they should not be used for navigation.
        The Action Sheet always appears above any other components on the page, and must be dismissed in order to interact with the underlying content. When it is triggered, the rest of the page darkens to give more focus to the Action Sheet options.
      </p>
  </div>
</ion-content>
