<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="underwhite">
    <ion-buttons left>
      <button ion-button icon-only  color="underblack" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Tip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="tip.photo_sub"/>
</ion-content>
