<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="primary">
    <ion-title>더보기</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="isMember_flag && login_flag">
    <div style="background-color: #555555;">
      <div class="spacer" style="height: 15px;"></div>
      <ion-item no-lines style="background-color: #555555;">
        <ion-avatar item-start>
          <img *ngIf="isPhoto" [src]="photo"/>
          <img *ngIf="!isPhoto" src="img/noUserImg.png"/>
        </ion-avatar>
        <h2><span style="color:white;">{{name}}</span></h2>
        <p *ngIf="!kk_flag"><span style="color:white;">{{email}}</span></p>
      </ion-item>
      <div class="spacer" style="height: 15px;"></div>
    </div>
    <button class="btn-start" ion-item detail-none no-lines block clear (click)="updateProfile()">프로필 수정
      <ion-icon name="ios-arrow-forward" item-end color="undergray"></ion-icon>
    </button>
    <div class="spacer" style="height: 5px;"></div>
    <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
    <div class="spacer" style="height: 5px;"></div>
    <button class="btn-start" ion-item detail-none no-lines block clear (click)="myCars()">내차 팔기
      <ion-icon name="ios-arrow-forward" item-end color="undergray"></ion-icon>
    </button>
    <div class="spacer" style="height: 5px;"></div>
    <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
    <div class="spacer" style="height: 5px;"></div>
    <button class="btn-start" ion-item detail-none no-lines block clear (click)="setKeyword()">관심 키워드 리스트
      <ion-icon name="ios-arrow-forward" item-end color="undergray"></ion-icon>
    </button>
    <div class="spacer" style="height: 5px;"></div>
    <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
    <div class="spacer" style="height: 5px;"></div>
    <button class="btn-start" ion-item detail-none no-lines block clear (click)="setOthers()">환경 설정
      <ion-icon name="ios-arrow-forward" item-end color="undergray"></ion-icon>
    </button>
  </div>

  <div  *ngIf="isMember_flag && !login_flag">
    <div class="spacer" style="height: 80px;"></div>
    <div  align="center">
      <img src="img/homeTitle.png" style="width: 35%; height: auto;"/>
    <div class="spacer" style="height: 20px;"></div>
      <p align="center">국내 최대 중고차 안심직거래앱 천언더입니다.<br>딜러보다 내 차를 싸게 사고, 딜러보다 내차를 더 받고 팔 때!</p>
    </div>
    <div class="spacer" style="height: 60px;"></div>
    <ion-grid>
      <ion-row>
        <ion-col>
            <button ion-button block color="1000Under" (click)="DoMemberLogin()">이메일로 로그인</button>
        </ion-col>
      </ion-row>
      <ion-row><div class="spacer" style="height: 10px;"></div></ion-row>
      <ion-row>
        <ion-col col-5 style="padding-top: 10px;"><div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div></ion-col>
        <ion-col col-2 style="padding-top: 0px;" align="center"><span style="font-size: 8pt; color:gray">또는</span></ion-col>
        <ion-col col-5 style="padding-top: 10px;"><div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div></ion-col>
      </ion-row>
      <ion-row><div class="spacer" style="height: 10px;"></div></ion-row>
      <ion-row>
        <ion-col align="center" style="padding-top: 0px; padding-bottom: 0px;">
          <button ion-button icon-start block color="facebook" (click)="DoFbLogin()">
            <ion-icon name="logo-facebook" color="underwhite"></ion-icon>&nbsp;&nbsp;&nbsp;페이스북으로 로그인</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align="center" style="padding-top: 0px; padding-bottom: 0px;">
          <button ion-button icon-start block color="google" (click)="DoGoogleLogin()">
            <ion-icon name="logo-google" color="underwhite"></ion-icon>&nbsp;&nbsp;&nbsp;구글로 로그인</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align="center" style="padding-top: 0px; padding-bottom: 0px;">
          <button ion-button block color="kakao" (click)="DoKakaoLogin()">
            <img src="img/kakao_logo.png" style="width: auto; height: 40%;">
            <span style="color:#392324;">&nbsp;&nbsp;&nbsp;카카오계정으로 로그인</span></button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align="center">
          <button ion-button clear class="btn-text" disabled><span>천언더가 처음이신가요? </span></button>
          <button ion-button clear class="btn-text" (click)="signUp()"><span>신규 회원가입</span></button>
        </ion-col>
      </ion-row> 
    </ion-grid>
  </div>
  
  <div  *ngIf="!isMember_flag">
    <div class="spacer" style="height: 80px;"></div>
    <div  align="center">
      <img src="img/homeTitle.png" style="width: 35%; height: auto;"/>
    <div class="spacer" style="height: 20px;"></div>
      <p align="center">국내 최대 중고차 안심직거래앱 천언더입니다.<br>딜러보다 내 차를 싸게 사고, 딜러보다 내차를 더 받고 팔 때!</p>
    </div>
    <div class="spacer" style="height: 60px;"></div>
    <ion-grid>
      <ion-row>
        <ion-col>
            <button ion-button block color="1000Under" (click)="DoMemberLogin()">이메일로 로그인</button>
        </ion-col>
      </ion-row>
      <ion-row><div class="spacer" style="height: 10px;"></div></ion-row>
      <ion-row>
        <ion-col col-5 style="padding-top: 10px;"><div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div></ion-col>
        <ion-col col-2 style="padding-top: 0px;" align="center"><span style="font-size: 8pt; color:gray">또는</span></ion-col>
        <ion-col col-5 style="padding-top: 10px;"><div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div></ion-col>
      </ion-row>
      <ion-row><div class="spacer" style="height: 10px;"></div></ion-row>
      <ion-row>
        <ion-col align="center" style="padding-top: 0px; padding-bottom: 0px;">
          <button ion-button icon-start block color="facebook" (click)="DoFbLogin()">
            <ion-icon name="logo-facebook" color="underwhite"></ion-icon>&nbsp;&nbsp;&nbsp;페이스북으로 로그인</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align="center" style="padding-top: 0px; padding-bottom: 0px;">
          <button ion-button icon-start block color="google" (click)="DoGoogleLogin()">
            <ion-icon name="logo-google" color="underwhite"></ion-icon>&nbsp;&nbsp;&nbsp;구글로 로그인</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align="center" style="padding-top: 0px; padding-bottom: 0px;">
          <button ion-button block color="kakao" (click)="DoKakaoLogin()">
            <img src="img/kakao_logo.png" style="width: auto; height: 40%;">
            <span style="color:#392324;">&nbsp;&nbsp;&nbsp;카카오계정으로 로그인</span></button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align="center">
          <button ion-button clear class="btn-text" disabled><span>천언더가 처음이신가요? </span></button>
          <button ion-button clear class="btn-text" (click)="signUp()"><span>신규 회원가입</span></button>
        </ion-col>
      </ion-row> 
    </ion-grid>
  </div>

</ion-content>