<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="underwhite">
    <ion-buttons left>
      <button ion-button color="underblack" icon-only (click)="closeModal()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>제조사/모델 선택</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <button ion-button block color='1000Under' (click)="showMaker()">제조사 :: {{brandParams.maker_name}}</button>
  <div *ngIf="makersFlag">
    <ion-item *ngFor="let ma of makers">
      <ion-label>{{ma.maker_name}}</ion-label>
      <ion-checkbox checked="false" color="dark" (ionChange)="selectedMaker($event, ma)"></ion-checkbox>
    </ion-item>
  </div>
  <button ion-button block color='1000Under' (click)="showModel()">모델 :: {{brandParams.model_name}}</button>
  <div *ngIf="modelFlag">
    <ion-item *ngFor="let mo of models">
      <ion-label>{{mo.model_name}}</ion-label>
      <ion-checkbox checked="false" color="dark"(ionChange)="selectedModel($event, mo)"></ion-checkbox>
    </ion-item>
  </div>
  <div *ngIf="showLevelButton">
    <button ion-button block color='1000Under' (click)="showLevel()">세부모델 :: {{brandParams.level_name}}</button>
    <div *ngIf="levelFlag">
      <ion-item *ngFor="let le of levels">
        <ion-label>{{le.model_sub_name}}</ion-label>
        <ion-checkbox checked="false" color="dark"(ionChange)="selectedLevel($event, le)"></ion-checkbox>
      </ion-item>
    </div>
  </div>
</ion-content>
