<ion-header>
  <div class="head-space"></div>
</ion-header>

<ion-content class="background">
  <ion-fab left top>
    <button ion-fab (click)="dismiss()"
            style="color: #ffffff; background-color: rgba( 255, 255, 255, 0.0 ); box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0), 0 0 0 rgba(0, 0, 0, 0.0);">
            <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
  </ion-fab>
  <ion-slides [initialSlide]="initialIndex" loop="true">
    <ion-slide *ngFor="let pp of photo_path">
      <img [src]="pp.path"  (click)="zoomImage(pp.path)">
    </ion-slide>
  </ion-slides>
</ion-content>
