.ios {
    page-image-view-more {
        .head-space {
            background-color: #ffffff !important;   //
            height: 1px;
        }
    }
}

page-image-view-more {
    .background {
        background: black;
    }
}
