<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="underwhite">
    <ion-buttons left>
      <button ion-button icon-only color="underblack" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>FAQ</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list padding no-lines *ngFor="let f of faqs; let i = index" style="margin-bottom: 0px; padding-top: 5px; padding-bottom: 0px; padding-left: 10px; padding-right: 10px;">
    <button class="qa-btn" ion-item detail-none no-lines block clear style="padding-left: 0px;" (click)="selectedFAQ(f.title, i)">
      <span style="color:#353535; font-size: 12pt;">{{f.title}}</span>
      <ion-icon *ngIf="selectFlag == true && i == faq_index" name="ios-arrow-up" item-end color="undergray"></ion-icon>
    </button>
    <div *ngIf="selectFlag == true && i == faq_index">
      <p><span style="color:#626262; font-size: 12pt;">{{f.memo}}</span></p>
    </div>  
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="underwhite">
    <ion-grid>
      <ion-row>
        <ion-col col-6 style="padding-top: 0px; padding-bottom: 0px;">
          <button ion-button block color='1000Under' icon-left (click)="callToUnder()">전화하기</button>
        </ion-col>
        <ion-col col-6 style="padding-top: 0px; padding-bottom: 0px;">
          <button ion-button block color='1000Under' icon-left (click)="chatWithUnder()">채팅하기</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
