.ios {
    page-what-service {
        .head-space {
            background-color: #ffffff !important;   //
            height: 1px;
        }
    }
}

page-what-service {
    .title.title-md {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        width: 70%;
        text-align: center;
    }

    .outline-box {
        background-color: #37aafe;
        //border: 1px solid #999999; //#424242; black;
        border-radius:3px;
        .outline-item {
             padding-left: 5px;
        }       
    } 

    .qa-btn .button-inner{
        justify-content:flex-start;
    }
}
