<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="primary">
    <div align="center"><img src="img/homeTitle_img.png" style="width:15%; height:20%;"/></div>
  </ion-toolbar>
</ion-header>
<ion-content class="body-color">
  <ion-slides pager class="top-slides">
    <ion-slide *ngFor="let pl of pick_list" class="top-slide">
      <img [src]="pl.photo_path" tappable (click)="selectedPickList(pl)"/>
    </ion-slide>
  </ion-slides>
  <h5 style="margin-top: 30px; margin-bottom: 15px; padding-left: 12px;">추천매물</h5>
  <ion-slides class="car-slides" [slidesPerView]="'auto'" style="padding-left: 5px; padding-right: 5px;">
    <ion-slide class="car-slide"  *ngFor="let car of recommend_list" style="margin-left: 5px; margin-right: 5px;">
      <div *ngIf="car.state === '판매중'">
        <div class="car-container" tappable (click)="naviCarDetailPage(car)" style="margin-left: 4px; background:#F4F6F6;">
          <img [src]="car.photo_path"/>
        </div>
      </div>
      <div *ngIf="car.state === '검수'">
        <img class="img-over" src="img/state/inspecting.png"/>
        <div class="car-container" tappable (click)="naviCarDetailPage(car)" style="margin-left: 4px; background:#F4F6F6;">
          <img [src]="car.photo_path" style="opacity:0.7;"/>
        </div>
      </div>
      <div *ngIf="car.state === '거래중'">
        <img class="img-over" src="img/state/dealing.png"/>
        <div class="car-container" tappable (click)="naviCarDetailPage(car)" style="margin-left: 4px; background:#F4F6F6;">
          <img [src]="car.photo_path" style="opacity:0.7;"/>
        </div>
      </div>
      <div *ngIf="car.state === '완료'">
        <img class="img-over" src="img/state/sold.png"/>
        <div class="car-container" tappable (click)="naviCarDetailPage(car)" style="margin-left: 4px; background:#F4F6F6;">
          <img [src]="car.photo_path" style="opacity:0.7;"/>
        </div>
      </div>
      <div class="spacer" style="height: 5px;"></div>
      <p align="left" style="height: 15pt; margin-bottom: 0px; margin-top: 0px; padding-left: 5px;">
        <span style="font-size: 11pt; color:black;">{{car.price | number:0}}만원 {{car.maker}} {{car.model}}</span></p>
      <p align="left" style="height: 15pt; margin-bottom: 0px; margin-top: 0px; padding-left: 5px;">
        <span style="font-size: 11pt; color:black;">{{car.year}}년식 | {{car.mileage | number:0}}Km</span></p>
    </ion-slide>
  </ion-slides>
  <h5 style="margin-top: 35px; margin-bottom: 15px; padding-left: 12px;">공지사항</h5>
  <ion-slides pager class="notice-slides" style="padding-left: 10px; padding-right: 10px;">
    <ion-slide *ngFor="let n of notices" class="notice-slide">
      <img [src]="n.photo" tappable (click)="selectedNotice(n)"/>
    </ion-slide>
  </ion-slides>

  <h5 style="margin-top: 30px; margin-bottom: 15px; padding-left: 12px;">TIP</h5>
  <ion-row wrap style="padding-left: 5px; padding-right: 5px;">
      <ion-col col-6 *ngFor="let t of tips" style="padding-top: 0px;">
          <button class="btn-start" ion-item no-lines block clear color="tipbtn" style="padding-left: 5px;" (click)="selectedTip(t)">
            <span style="color:#353535; font-size: 12pt;">{{t.title}}</span>
            <ion-icon md="ios-arrow-forward" item-end color="homeArrowBtn"></ion-icon>
          </button>
      </ion-col>
  </ion-row>

  <h5 style="margin-top: 30px; margin-bottom: 15px; padding-left: 12px;">고객센터</h5>
  <ion-row wrap style="padding-left: 5px; padding-right: 5px;">
    <ion-col style="padding-top: 0px;">
      <button class="btn-start" ion-item no-lines block clear style="padding-left: 10px;" (click)="selectedFAQ()">
        <span style="color:#353535; font-size: 12pt;">자주하는 질문</span>
        <ion-icon md="ios-arrow-forward" item-end color="homeArrowBtn"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <div class="spacer" style="height: 15px;"></div>
  <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
  <ion-item no-lines style="padding-left: 5px; height: 40px;">
    &nbsp;&nbsp;<button class="qa-btn" ion-button color="undergray" clear small style="padding-left: 0px; padding-right: 0px;" (click)="under1000()">천언더(주)사업자정보 |</button>
    <button class="qa-btn" ion-button color="undergray" clear small style="padding-left: 0px; padding-right: 0px;" (click)="termsUse()">이용약관 |</button>
    <button class="qa-btn" ion-button color="undergray" clear small style="padding-left: 0px; padding-right: 0px;" (click)="privacyPolicy()">개인정보 취급방침</button>
  </ion-item>
  <div *ngIf="clickUnder1000">
    <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
    <ion-grid>
      <ion-row style="height:25px;">
        <ion-col col-4 style="font-size:small"><p align="left" style="color:#929292; margin-top:0px; margin-bottom:10px;">&nbsp;&nbsp;대표</p></ion-col>
        <ion-col col-8 style="font-size:small"><p align="left" style="color:#929292; margin-top:0px; margin-bottom:10px;">김성국</p></ion-col>
      </ion-row>
      <ion-row style="height:25px;">
        <ion-col col-4 style="font-size:small"><p align="left" style="color:#929292; margin-top:0px; margin-bottom:10px;">&nbsp;&nbsp;주소</p></ion-col>
        <ion-col col-8 style="font-size:small"><p align="left" style="color:#929292; margin-top:0px; margin-bottom:10px;">경기도 성남시 분당구 황새울로 234</p></ion-col>
      </ion-row>
      <ion-row style="height:25px;">
        <ion-col col-4 style="font-size:small"><p align="left" style="color:#929292; margin-top:0px; margin-bottom:10px;"></ion-col>
        <ion-col col-8 style="font-size:small"><p align="left" style="color:#929292; margin-top:0px; margin-bottom:10px;">트라팰리스 1163호</p></ion-col>
      </ion-row>
      <ion-row style="height:25px;">
        <ion-col col-4 style="font-size:small"><p align="left" style="color:#929292; margin-top:0px; margin-bottom:10px;">&nbsp;&nbsp;사업자번호</p></ion-col>
        <ion-col col-8 style="font-size:small"><p align="left" style="color:#929292; margin-top:0px; margin-bottom:10px;">337-87-00484</p></ion-col>
      </ion-row>
      <ion-row style="height:25px;">
        <ion-col col-4 style="font-size:small"><p align="left" style="color:#929292; margin-top:0px; margin-bottom:10px;">&nbsp;&nbsp;고객센터</p></ion-col>
        <ion-col col-8 style="font-size:small"><p align="left" style="color:#929292; margin-top:0px; margin-bottom:10px;">02-2088-6460~3</p></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-item no-lines class="sns-area" style="padding-left: 5px; background-color:#ffffff;">
    &nbsp;&nbsp;<a href="https://www.facebook.com/car1000under/"><img src="img/icon/sns/facebook.png" style="width: 6%; height: auto;"/></a>&nbsp;&nbsp;
    <a href="https://www.instagram.com/chununder/"><img src="img/icon/sns/instagram.png" style="width: 6%; height: auto;"/></a>&nbsp;&nbsp;
    <a href="http://blog.naver.com/1000_under/"><img src="img/icon/sns/blog.png" style="width: 6%; height: auto;"/></a>&nbsp;&nbsp;
    <a href="http://www.1000under.com/"><img src="img/icon/sns/homepage.png" style="width: 6%; height: auto;"/></a>
  </ion-item>
  <div class="spacer" style="height: 10px;"></div>
</ion-content>
