.ios {
    page-home {
        .head-space {
            background-color: #ffffff !important;   //
            height: 1px;
        }
    }
}
page-home {    
    .body-color {
        background-color: #f7f7f7;
    }

    .top-slides {
        height: auto;
        .swiper-container-horizontal > .swiper-pagination   //location of pager
        {
            bottom: 5%; //Change accordingly
            z-index: 2 !important;
        }
        .swiper-pagination {
            padding: 3px;
            bottom:0px;
            .swiper-pagination-bullet {
                background: #ffffff;
                box-shadow: 0px 1px grey;
                margin: 0 3px;
            }
        }
    }
    .top-slide {
        height: auto !important; 
    }

    .car-slides {
        height: auto;
    }
    .car-slide {
        height: 180px;
        width: 230px;
        background-color: #ffffff;
        border: 1px solid #eeeeee; //#424242; black;
    }
    .car-container{
        height: 120px;
        width: 220px;
        overflow: hidden;
    }
    .car-container img{
        width: 100%;
        object-fit: cover;
    }
    .img-over {
        z-index: 3 !important;
        width: 75px;
        height: 75px;
        position: absolute;
        left: 35%;
        top: 17.5%;
        margin: auto;
    }

    .notice-slides {
        height: auto;
        .swiper-container-horizontal > .swiper-pagination   //location of pager
        {
            bottom: 5%; //Change accordingly
            z-index: 4 !important;
        }
        .swiper-pagination {
            padding: 3px;
            bottom:0px;
            .swiper-pagination-bullet {
                background: #ffffff;
                box-shadow: 0px 1px grey;
                margin: 0 3px;
            }
        }
    }
    .notice-slide {
        height: auto !important; 
    }

    .btn-start .button-inner{
        justify-content:flex-start;
    }
    
    .sns-area .item-inner .input-wrapper .label {
        margin-top: 0px;
    }

}
