<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="underwhite">
    <ion-title>회원가입</ion-title>
    <ion-buttons left>
      <button ion-button icon-only color="underblack" (click)="closeModal()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div padding style="padding-left: 10px; padding-right: 10px;">
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-input #f_name [(ngModel)]="name" type="text" placeholder="이름" (keypress)="f_name_eventHandler($event)" clearInput></ion-input>
      </ion-item>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-input #f_phoneNumber [(ngModel)]="phoneNumber" type="text" placeholder="전화번호" (keypress)="f_phoneNumber_eventHandler($event)" clearInput></ion-input>
      </ion-item>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-input #f_email [(ngModel)]="email" type="email" placeholder="이메일" (keypress)="f_email_eventHandler($event)" clearInput></ion-input>
      </ion-item>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-input #f_password [(ngModel)]="password" type="password" placeholder="비밀번호(영문,숫자조합 6~15자리)" (keypress)="f_password_eventHandler($event)" clearInput></ion-input>
      </ion-item>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-input #f_confirmPassword [(ngModel)]="confirmPassword" type="password" placeholder="비밀번호 확인" clearInput></ion-input>
      </ion-item>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block color="1000Under" (click)="submitRegiste(choenUnder)">가입하기</button>
      </ion-col>
    </ion-row>
    <ion-row><div class="spacer" style="height: 5px;"></div></ion-row>
    <ion-row>
      <ion-col col-5 style="padding-top: 10px;"><div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div></ion-col>
      <ion-col col-2 style="padding-top: 0px;" align="center"><span style="font-size: 8pt; font-weight:bold; color:gray">또는</span></ion-col>
      <ion-col col-5 style="padding-top: 10px;"><div class="spacer" style="height: 1px; background-color:#eeeeee;" ></div></ion-col>
    </ion-row>
    <ion-row><div class="spacer" style="height: 5px;"></div></ion-row>
    <ion-row>
      <ion-col align="center" style="padding-top: 0px; padding-bottom: 0px;">
        <button ion-button icon-start block color="facebook" (click)="DoFbSignup()">
          <ion-icon name="logo-facebook" color="underwhite"></ion-icon>&nbsp;&nbsp;&nbsp;페이스북으로 회원가입</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align="center" style="padding-top: 0px; padding-bottom: 0px;">
        <button ion-button icon-start block color="google" (click)="DoGoogleSignup()">
          <ion-icon name="logo-google" color="underwhite"></ion-icon>&nbsp;&nbsp;&nbsp;구글로 회원가입</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align="center" style="padding-top: 0px; padding-bottom: 0px;">
        <button ion-button block color="kakao" (click)="DoKakaoSignup()">
          <img src="img/kakao_logo.png" style="width: auto; height: 40%;">
          <span style="color:#392324;">&nbsp;&nbsp;&nbsp;카카오계정으로 회원가입</span></button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="spacer" style="height: 5px;"></div>
  <ion-grid>
    <ion-row>
      <ion-col>
          <button ion-button clear class="btn-text" icon-start (click)="termsUseCheck()">
              <ion-icon *ngIf="!termsUseFlag" class="agree-check" style="color:#999999;" name="ios-checkmark-circle-outline"></ion-icon>
              <ion-icon *ngIf="termsUseFlag" class="agree-check" style="color:#37aafe;" name="ios-checkmark-circle"></ion-icon>
              <span>&nbsp;&nbsp;천언더 이용약관 동의</span><span style="color:#37aafe; font-size: 12px;">&nbsp;(필수)</span>
          </button>
          <button ion-button clear class="btn-text" (click)="termsUse()">
            <span style="color:#999999; font-size: 12px; text-decoration: underline;">자세히보기</span></button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <button ion-button clear class="btn-text" icon-start (click)="privacyPolicyCheck()">
              <ion-icon *ngIf="!privacyPolicyFlag" class="agree-check" style="color:#999999;" name="ios-checkmark-circle-outline"></ion-icon>
              <ion-icon *ngIf="privacyPolicyFlag" class="agree-check" style="color:#37aafe;" name="ios-checkmark-circle"></ion-icon>
              <span>&nbsp;&nbsp;개인정보 수집 및 이용에 대한 안내</span><span style="color:#37aafe; font-size: 12px;">&nbsp;(필수)</span>
          </button>
          <button ion-button clear class="btn-text" (click)="privacyPolicy()">
            <span style="color:#999999; font-size: 12px; text-decoration: underline;">자세히보기</span></button>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col align="center" style="padding-top: 5px;"><span style="color:gray">©CHUNUNDER Corp.</span></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>