.ios {
    page-sign-up {
        .head-space {
            background-color: #ffffff !important;   //
            height: 1px;
        }
    }
}

page-sign-up {

    .title.title-md {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        width: 70%;
        text-align: center;
    }
    //.input-cover{position: static}
 
    .outline-box {
        background-color: #ffffff;
        border: 1px solid #999999; //#424242; black;
        border-radius:3px;
        .outline-item {
             padding-left: 5px;
        }       
    }
   
    .btn-text {
         height: 20px; 
         margin-top: 0px; 
         margin-bottom: 0px; 
         padding-right: 0px; 
         padding-left: 0px;
    }
    .btn-text span {
         font-size: 10pt; 
         font-weight:bold; 
         color:black;
         text-align: center;
    }

    .agree-check {
        display: inline-block;
        font-size: 1.5em;
    }

    //--remove all validation lines (red/green/blue).
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    } 

}
