<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="underwhite">
    <ion-buttons left>
      <button ion-button icon-only color="underblack" (click)="dismiss()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>매칭수수료 안내</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center"><img src="img/regist_info.png"  style="height: auto;"/></div>
  <div class="spacer" style="height: 10px;"></div>
  <ion-grid>
    <ion-row>
      <ion-col col-6 style="padding-top: 0px; padding-bottom: 0px;">
        <button ion-button block outline color='undergray' icon-left (click)="dismiss()">
          <span style="font-size: 9pt;">아니오, 동의하지 않습니다.</span></button>
      </ion-col>
      <ion-col col-6 style="padding-top: 0px; padding-bottom: 0px;">
        <button ion-button block color='1000Under' icon-left (click)="agree()">
          <span style="font-size: 9pt;">네, 동의하고 등록합니다.</span></button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
