// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:     #37aafe,
  secondary:   #32db64,
  danger:      #f53d3d,
  light:       #f4f4f4,
  dark:        #000000,
  tab-active:  #37aafe,
  tab-inactive:#323232,
  favorite:    #69BB7B,
  navbarColor: #009688,
  1000Under:   #37aafe,
  underwhite:  #ffffff,
  underblack:  #000000,
  undergray:   #929292,
  buttongray:  #626262,
  undereeee:   #eeeeee,
  twitter:     #1da1f4,
  google:      #f13f28,
  facebook:    #1479fb,
  instagram:   #000000,
  kakao:       #ffe800,
  tipbtn:      #e6e6e6,
  homeArrowBtn:#353535,
);

// App Common Variables
$badge-font-weight: normal;



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// Use the primary color as the background for the toolbar-md-background
$tabs-ios-background:            color($colors, underwhite);
// Change the color of the segment button text
$tabs-ios-tab-color-active:      color($colors, tab-active);
$tabs-ios-tab-color-inactive:    color($colors, tab-inactive);
$toast-ios-background: #eeeeee;
$toast-ios-title-color: #000000;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// Use the primary color as the background for the toolbar-md-background
$tabs-md-background:            color($colors, underwhite);
// Change the color of the segment button text
$tabs-md-tab-color-active:      color($colors, tab-active);
$tabs-md-tab-color-inactive:    color($colors, tab-inactive);
$alert-md-sub-title-font-size: 14px;
$toast-md-background: #eeeeee;
$toast-md-title-color: #000000;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
