.ios {
    page-intro {
        .head-space {
            background-color: #ffffff !important;   //
            height: 1px;
        }
    }
}
page-intro {
    .top-slides {
        height: auto;
        .swiper-container-horizontal > .swiper-pagination   //location of pager
        {
            bottom: 2.1%; //Change accordingly
            z-index: 99 !important;
        }
        .swiper-pagination {
            padding: 3px;
            bottom:0px;
            .swiper-pagination-bullet {
                background: #000000;
                //box-shadow: 0px 1px grey;
                margin: 0 3px;
            }
        }
    }
    .top-slide {
        height: auto;
        margin-bottom: 0px;
    }
}
