<ion-header>
    <div class="head-space"></div>
</ion-header>
<ion-content>
  <div>
    <ion-slides pager class="top-slides">
      <ion-slide *ngFor="let t of tutorials" class="top-slide top-image-wrapper">
        <img [src]="t.imgPath" />
      </ion-slide>
    </ion-slides>
    <ion-fab left top>
      <button ion-fab (click)="dismiss()" icon-start style="height: 35px;
              color: #000000; background-color: rgba( 255, 255, 255, 0.0 ); box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0), 0 0 0 rgba(0, 0, 0, 0.0);">
              <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab right top>
      <button ion-fab (click)="doNotShow()" icon-end style="height: 35px; width: 120px;
              color: #000000; background-color: rgba( 255, 255, 255, 0.0 ); box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0), 0 0 0 rgba(0, 0, 0, 0.0);">다시 보지 않기&nbsp;
              <ion-icon name="ios-checkbox-outline"></ion-icon>
      </button>
    </ion-fab>
  </div>
</ion-content>

