<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="primary">
    <ion-title>채팅</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="login_flag">
    <div *ngIf="msgListFlag">
      <ion-list no-lines>
        <ion-item-sliding *ngFor="let ml of message_list">
          <ion-item no-lines tappable (click)="chatBoard(ml)">
            <ion-avatar item-start>
              <img src="img/1000under-logo.png">
            </ion-avatar>
            <h2>{{ml.target_name}} <span style="font-size: 10pt;">{{ml.regist_date}}</span></h2>
            <p>{{ml.message_text}}</p>
            <ion-badge *ngIf="ml.unread_count > 0" color="danger" item-end>{{ml.unread_count}}</ion-badge>
          </ion-item>
          <ion-item-options>
            <button ion-button color="danger" icon-only icon-left (click)="deleteChat(ml)">
              <ion-icon name="ios-trash-outline"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding> 
      </ion-list>
    </div>
    <div *ngIf="!msgListFlag">
      <div class="spacer" style="height: 160px;"></div>
      <div align="center"><img src="img/chat.png" style="height: 15%; width: 15%"/></div>
      <h5 align="center">항상 준비되어 있는 천언더입니다.</h5>
      <p align="center"><span style="font-size: 10pt; color:#999999">국내 최대 중고차 안심직거래앱 천언더<br>전담직원과 함께 내 차를 상담하세요.</span></p>  
      <ion-fab right bottom>
        <button ion-fab style="color: #ffffff; background-color: #48b2ff; width: 44px; height: 44px;" (click)="chatBoardInit()"><ion-icon name="md-add"></ion-icon></button>
      </ion-fab>
    </div>
  </div>
  <div *ngIf="!login_flag">
    <div class="spacer" style="height: 160px;"></div>
    <div align="center"><img src="img/chat.png" style="height: 15%; width: 15%"/></div>
    <h5 align="center">전담직원이 항상 대기중입니다!</h5>
    <p align="center"><span style="font-size: 10pt; color:#999999">국내 최대 중고차 안심직거래앱 천언더<br>지금 바로 로그인하시고 전담직원과 상담하세요!</span></p>  
    <div align="center">
      <button ion-button color="1000Under" style="box-shadow: none !important;" (click)="checkLogin()">천언더 로그인</button>
    </div>
  </div>
  <ion-fab *ngIf="login_flag" right bottom>
    <button ion-fab style="color: #ffffff; background-color: #48b2ff; width: 44px; height: 44px;" (click)="chatBoardInit()"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>
</ion-content>
