<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="underwhite">
    <ion-buttons left>
      <button ion-button color="underblack" icon-only (click)="closeModal()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>지역 선택</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-item *ngFor="let area1 of areaLevel1">
    <ion-label>{{area1.area}}</ion-label>
    <ion-checkbox color="energized" checked="false" color="dark"(ionChange)="selectedArea($event, area1.area)"></ion-checkbox>
  </ion-item>
</ion-content>
