.ios {
    page-privacy-policy {
        .head-space {
            background-color: #ffffff !important;   //
            height: 1px;
        }
    }
}

page-privacy-policy {
    
    .title.title-md {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        width: 70%;
        text-align: center;
    }
     
}
