.ios {
    page-update-my-car {
        .head-space {
            background-color: #ffffff !important;   //
            height: 1px;
        }
        .outline-box {
            background-color: #ffffff;
            border: 1px solid #999999; //#424242; black;
            border-radius:3px;
            .outline-item {
                padding-left: 5px;
                .select-item {
                    max-width: 100%;
                }
            }
        }
    }    
}
.md {
    page-update-my-car {
        .outline-box {
            background-color: #ffffff;
            border: 1px solid #999999; //#424242; black;
            border-radius:3px;
            .outline-item {
                padding-left: 0px;
                .select-item {
                    max-width: 100%;
                }
            }
            .outline-button {
                padding-left: 8px;
            }       
        }
    }
}

page-update-my-car {

    .title.title-md {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        width: 70%;
        text-align: center;
    }
    //.input-cover{position: static}
    
    .map {
        width: 100%;
        height: 50%;
    }
    #place_input {
        width: 349px;
        height: 31px;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
    }
    
    .img-size {
        height: 110px;
        width: 110px;
    }

    //--remove all validation lines (red/green/blue).
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }   

}
