<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="underwhite">
    <ion-buttons left>
      <button ion-button icon-only color="underblack" (click)="dismiss()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>내 차량 정보 변경</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item no-lines style="padding-left: 10px;">
    <ion-label>차량정보 수정
      <span style="font-size: 10pt; color:#37aafe">*</span><br>
      <span style="font-size: 10pt; color:#37aafe">*</span><span style="font-size: 10pt; color:#999999">표시는 필수입력 항목입니다.</span>
    </ion-label>
  </ion-item>
  <div style="padding-left: 5px; padding-right: 5px;">
    <div class="spacer" style="height: 10px;"></div>
    <div class="spacer" style="height: 1px; background-color:#eeeeee;"></div>
  </div>
  <ion-grid>
    <ion-row align="center">
      <ion-col col-4 *ngIf="getRepImgUrl === ''"><img [src]="rep" class="img-size" (click)="updateRepImage()"/></ion-col>
      <ion-col col-4 *ngIf="getRepImgUrl !== ''"><img [src]="getRepImgUrl" class="img-size" (click)="updateRepImage()"/></ion-col>
      <ion-col col-4 *ngIf="getRegistImgUrl === ''"><img [src]="registDoc" class="img-size" (click)="updateRegistImage()"/></ion-col>
      <ion-col col-4 *ngIf="getRegistImgUrl !== ''"><img [src]="getRegistImgUrl" class="img-size" (click)="updateRegistImage()"/></ion-col>
      <ion-col col-4 *ngIf="getOtherImgUrl[0] === 'noImg'"><img [src]="byOne" class="img-size" (click)="addOtherImage(getOtherImgUrl[0])"/></ion-col>
      <ion-col col-4 *ngIf="getOtherImgUrl[0] !== 'noImg' && (!delFlag[0])"><img [src]="getOtherImgUrl[0]" class="img-size" (click)="selectedOtherImage(getOtherImgUrl[0])"/></ion-col>
      <ion-col col-4 *ngIf="getOtherImgUrl[0] !== 'noImg' && (delFlag[0])"><img [src]="byOne" class="img-size"/></ion-col>     
    </ion-row>
    <ion-row *ngIf="getOtherImgCnt > 1" align="center">
      <ion-col col-4 *ngIf="getOtherImgUrl[1] === 'noImg'"><img [src]="byOne" class="img-size" (click)="addOtherImage(getOtherImgUrl[1])"/></ion-col>
      <ion-col col-4 *ngIf="getOtherImgUrl[1] !== 'noImg' && (!delFlag[1])"><img [src]="getOtherImgUrl[1]" class="img-size" (click)="selectedOtherImage(getOtherImgUrl[1])"/></ion-col>
      <ion-col col-4 *ngIf="getOtherImgUrl[1] !== 'noImg' && (delFlag[1])"><img [src]="byOne" class="img-size"/></ion-col> 
      <ion-col col-4 *ngIf="getOtherImgUrl[2] === 'noImg'"><img [src]="byOne" class="img-size" (click)="addOtherImage(getOtherImgUrl[2])"/></ion-col>
      <ion-col col-4 *ngIf="getOtherImgUrl[2] !== 'noImg' && (!delFlag[2])"><img [src]="getOtherImgUrl[2]" class="img-size" (click)="selectedOtherImage(getOtherImgUrl[2])"/></ion-col>
      <ion-col col-4 *ngIf="getOtherImgUrl[2] !== 'noImg' && (delFlag[2])"><img [src]="byOne" class="img-size"/></ion-col>    
      <ion-col col-4 *ngIf="getOtherImgUrl[3] === 'noImg'"><img [src]="byOne" class="img-size" (click)="addOtherImage(getOtherImgUrl[3])"/></ion-col>
      <ion-col col-4 *ngIf="getOtherImgUrl[3] !== 'noImg' && (!delFlag[3])"><img [src]="getOtherImgUrl[3]" class="img-size" (click)="selectedOtherImage(getOtherImgUrl[3])"/></ion-col>
      <ion-col col-4 *ngIf="getOtherImgUrl[3] !== 'noImg' && (delFlag[3])"><img [src]="byOne" class="img-size"></ion-col>  
    </ion-row>
    <ion-row *ngIf="getOtherImgCnt > 4" align="center">    
      <ion-col col-4 *ngIf="getOtherImgUrl[4] === 'noImg'"><img [src]="byOne" class="img-size" (click)="addOtherImage(getOtherImgUrl[4])"/></ion-col>
      <ion-col col-4 *ngIf="getOtherImgUrl[4] !== 'noImg' && (!delFlag[4])"><img [src]="getOtherImgUrl[4]" class="img-size" (click)="selectedOtherImage(getOtherImgUrl[4])"/></ion-col>
      <ion-col col-4 *ngIf="getOtherImgUrl[4] !== 'noImg' && (delFlag[4])"><img [src]="byOne" class="img-size"/></ion-col>      
      <ion-col col-4 *ngIf="getOtherImgUrl[5] === 'noImg'"><img [src]="byOne" class="img-size" (click)="addOtherImage(getOtherImgUrl[5])"/></ion-col>
      <ion-col col-4 *ngIf="getOtherImgUrl[5] !== 'noImg' && (!delFlag[5])"><img [src]="getOtherImgUrl[5]" class="img-size" (click)="selectedOtherImage(getOtherImgUrl[5])"/></ion-col>
      <ion-col col-4 *ngIf="getOtherImgUrl[5] !== 'noImg' && (delFlag[5])"><img [src]="byOne" class="img-size"/></ion-col>      
      <ion-col col-4 *ngIf="getOtherImgUrl[6] === 'noImg'"><img [src]="byOne" class="img-size" (click)="addOtherImage(getOtherImgUrl[6])"/></ion-col>
      <ion-col col-4 *ngIf="getOtherImgUrl[6] !== 'noImg' && (!delFlag[6])"><img [src]="getOtherImgUrl[6]" class="img-size" (click)="selectedOtherImage(getOtherImgUrl[6])"/></ion-col>
      <ion-col col-4 *ngIf="getOtherImgUrl[6] !== 'noImg' && (delFlag[6])"><img [src]="byOne" class="img-size"></ion-col>  
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row style="height:40px;">
      <ion-col col-6>
        <ion-item no-lines style="padding-left: 0px;"><ion-label>차량 소유주 정보<span style="font-size: 10pt; color:#37aafe">*</span></ion-label></ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item no-lines align="center" style="padding-left: 10px;">
          <button ion-button item-right small outline color="dark" style="margin-right: 0px;" (click)="sameOwner()">사용자 정보와 동일</button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="spacer" style="height: 10px;"></div>
  <div style="padding-left: 5px; padding-right: 5px;">
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-input #f_owner_name [(ngModel)]="owner_name" type="text" placeholder="소유주 이름" (keypress)="f_owner_name_eventHandler($event)" clearInput></ion-input>
      </ion-item>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-input #f_phone [(ngModel)]="phone" type="text" placeholder="소유주 연락처" (keypress)="f_phone_eventHandler($event)" clearInput></ion-input>
      </ion-item>
    </div>
  </div>
  <div class="spacer" style="height: 10px;"></div>

  <ion-item no-lines style="padding-left: 10px;"><ion-label>차량기본정보<span style="font-size: 10pt; color:#37aafe">*</span></ion-label></ion-item>
  <div style="padding-left: 5px; padding-right: 5px;">
    <div class="outline-box">
      <ion-row style="height: 54px;">
        <ion-col col-9 style="padding-left: 0px;">
          <ion-item no-lines class="outline-item">
            <ion-input #f_str_price [(ngModel)]="str_price" type="text" placeholder="차량판매가" 
                      (change)="onChangePrice($event.target.value)" clearInput></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item no-lines>
            <ion-label class="outline-item" align="right"><span style="font-size: 11pt;">만원</span></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div *ngIf="!showModelFlag" class="outline-box">
      <button ion-item no-lines detail-none class="outline-item outline-button" block color="underwhite" (click)="SearchBrand()"><font color="#999999">제조사/모델</font>
        <ion-icon name="ios-arrow-forward" item-end color="undergray"></ion-icon>
      </button>
    </div>
    <div *ngIf="showModelFlag" class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-input [(ngModel)]="searchBrand" type="text" (click)="SearchBrand()"></ion-input>
      </ion-item>
    </div>
    <div *ngIf="model_sub_key != '0'">
      <div class="spacer" style="height: 10px;"></div>
      <div class="outline-box">
        <ion-item no-lines class="outline-item">
          <ion-input [(ngModel)]="model_sub" type="text" placeholder="세부모델" readonly></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-input #f_model_level [(ngModel)]="model_level" type="text" placeholder="세부등급(ex: 모던, 프리미엄..)" (keypress)="f_model_level_eventHandler($event)" clearInput></ion-input>
      </ion-item>
    </div>    
    <div class="spacer" style="height: 10px;"></div>
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-input #f_car_number [(ngModel)]="car_number" type="text" placeholder="차량번호" (keypress)="f_car_number_eventHandler($event)" clearInput></ion-input>
      </ion-item>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div class="outline-box">
      <ion-row style="height: 52px;">
        <ion-col col-9 style="padding-left: 0px;">
          <ion-item no-lines class="outline-item">
            <ion-input #f_str_mileage [(ngModel)]="str_mileage" type="text" placeholder="주행거리" 
                      (change)="onChangeMileage($event.target.value)" clearInput></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item no-lines>
            <ion-label class="outline-item" align="right"><span style="font-size: 11pt;">Km</span></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <ion-row>
      <ion-col width-60 style="padding-left: 0px;">
        <div class="outline-box">
          <ion-item no-lines class="outline-item outline-button">
            <ion-label style="color:#999999;">연식</ion-label>
            <ion-datetime [(ngModel)]="yearMonth" clearInput style="padding-left: 0px;"
                          displayFormat="YYYY년 MM월" pickerFormat="YYYY-MM" cancelText="취소" doneText="완료"></ion-datetime>
          </ion-item>
        </div>
      </ion-col>
      <ion-col width-60 style="padding-right: 0px;">
        <div class="outline-box">
          <ion-item no-lines class="outline-item outline-button">
            <ion-label style="color:#999999;">색상</ion-label>
            <ion-select [(ngModel)]="color" class="select-item" cancelText="취소" okText="선택" (ionChange)="selectedColor($event)">
              <ion-option *ngFor="let c of colors" [value]="c.c_color">{{ c.c_color }}</ion-option>
            </ion-select>
          </ion-item>        
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-60 style="padding-left: 0px;">
        <div class="outline-box">
          <ion-item no-lines class="outline-item outline-button">
            <ion-label style="color:#999999">연료 </ion-label>
            <ion-select [(ngModel)]="puer" class="select-item" cancelText="취소" okText="선택" (ionChange)="selectedPuer($event)">
              <ion-option *ngFor="let f of puers" [value]="f.id">{{ f.puer }}</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-col>
      <ion-col width-60 style="padding-right: 0px;">
        <div class="outline-box">
          <ion-item no-lines class="outline-item outline-button">
            <ion-label style="color:#999999">변속기 </ion-label>
            <ion-select [(ngModel)]="gear" class="select-item" cancelText="취소" okText="선택" (ionChange)="selectedGear($event)">
              <ion-option *ngFor="let g of gears" [value]="g.id">{{ g.gear }}</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <div class="spacer" style="height: 5px;"></div>

    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-textarea [(ngModel)]="additory_options" placeholder="추가옵션(선택입력)" clearInput></ion-textarea>
      </ion-item>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-textarea [(ngModel)]="repair" placeholder="수리내역(선택입력)" clearInput></ion-textarea>
      </ion-item>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-textarea [(ngModel)]="replacement" placeholder="교체내역(선택입력)" clearInput></ion-textarea>
      </ion-item>
    </div>
  </div>

  <ion-item no-lines><ion-label>주요옵션<span style="font-size: 10pt; color:#37aafe">*</span></ion-label></ion-item>
  <!-- [1:네비게이션, 2:선루프, 3:블랙박스, 4:제조사보증, 5:후방센서, 6:START버튼, 7:후방카메라, 8:열선시트] -->
  <ion-grid>
      <ion-row align="center">
        <ion-col col-3 *ngIf="!navigationFlag"><img [src]="navigation_off" style="width: 80%; height: auto;" (click)="navigationOnOff()"/></ion-col>
        <ion-col col-3 *ngIf="navigationFlag"><img [src]="navigation_on" style="width: 80%; height: auto;" (click)="navigationOnOff()"/></ion-col>
        <ion-col col-3 *ngIf="!sunLoopFlag"><img [src]="sunLoop_off" style="width: 80%; height: auto;" (click)="sunLoopOnOff()"/></ion-col>
        <ion-col col-3 *ngIf="sunLoopFlag"><img [src]="sunLoop_on" style="width: 80%; height: auto;" (click)="sunLoopOnOff()"/></ion-col>
        <ion-col col-3 *ngIf="!blackBoxFlag"><img [src]="blackBox_off" style="width: 80%; height: auto;" (click)="blackBoxOnOff()"/></ion-col>
        <ion-col col-3 *ngIf="blackBoxFlag"><img [src]="blackBox_on" style="width: 80%; height: auto;" (click)="blackBoxOnOff()"/></ion-col>
        <ion-col col-3 *ngIf="!warrantyFlag"><img [src]="warranty_off" style="width: 80%; height: auto;" (click)="warrantyOnOff()"/></ion-col>
        <ion-col col-3 *ngIf="warrantyFlag"><img [src]="warranty_on" style="width: 80%; height: auto;" (click)="warrantyOnOff()"/></ion-col>
      </ion-row>
      <ion-row align="center"> 
        <ion-col col-3 *ngIf="!rearSensorFlag"><img [src]="rearSensor_off" style="width: 80%; height: auto;" (click)="rearSensorOnOff()"/></ion-col>  
        <ion-col col-3 *ngIf="rearSensorFlag"><img [src]="rearSensor_on" style="width: 80%; height: auto;" (click)="rearSensorOnOff()"/></ion-col>
        <ion-col col-3 *ngIf="!startButtonFlag"><img [src]="startButton_off" style="width: 80%; height: auto;" (click)="startButtonOnOff()"/></ion-col>
        <ion-col col-3 *ngIf="startButtonFlag"><img [src]="startButton_on" style="width: 80%; height: auto;" (click)="startButtonOnOff()"/></ion-col>
        <ion-col col-3 *ngIf="!rearCameraFlag"><img [src]="rearCamera_off" style="width: 80%; height: auto;" (click)="rearCameraOnOff()"/></ion-col> 
        <ion-col col-3 *ngIf="rearCameraFlag"><img [src]="rearCamera_on" style="width: 80%; height: auto;" (click)="rearCameraOnOff()"/></ion-col>
        <ion-col col-3 *ngIf="!heatingSeatFlag"><img [src]="heatingSeat_off" style="width: 80%; height: auto;" (click)="heatingSeatOnOff()"/></ion-col>
        <ion-col col-3 *ngIf="heatingSeatFlag"><img [src]="heatingSeat_on" style="width: 80%; height: auto;" (click)="heatingSeatOnOff()"/></ion-col>
      </ion-row>
    </ion-grid>

  <ion-item no-lines style="padding-left: 10px;"><ion-label>차량 위치<span style="font-size: 10pt; color:#37aafe">*</span></ion-label></ion-item>
  <!-- Google map -->
  <ion-item no-lines>
    <input id="place_input" name="place_input" type="text" placeholder="위치입력" [(ngModel)]="searchPlace">
  </ion-item>
  <div map id="umap" class="map"></div>
  <!-- Google map -->
  <div class="spacer" style="height: 10px;"></div>

  <ion-item no-lines style="padding-left: 10px;"><ion-label>내차 소개</ion-label></ion-item>
  <div padding style="padding-left: 5px; padding-right: 5px;">
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-textarea #f_introduce [(ngModel)]="introduce" style="white-space: pre-wrap;" placeholder="내차를 자세히 소개해주세요." clearInput></ion-textarea>
      </ion-item>
    </div>
  </div>
  <ion-row style="padding-left: 5px; padding-right: 5px;">
    <button ion-button block color='1000Under' (click)="submitRegiste()">수정하기</button>
  </ion-row>
</ion-content>

