<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="underwhite">
    <ion-buttons left>
      <button ion-button icon-only color="underblack" (click)="dismiss()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>비밀번호 재설정</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spacer" style="height: 5px;"></div>
  <div padding style="padding-left: 10px; padding-right: 10px;">
    <p style="margin-top: 0px;">회원가입시 등록한 이메일 주소를 입력해주세요.<br>비밀번호 재설정 메일을 발송해 드립니다.</p>
    <div class="spacer" style="height: 10px;"></div>
    <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-input #f_email [(ngModel)]="email" type="email" placeholder="이메일 주소를 입력하세요." clearInput></ion-input>
      </ion-item>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <button ion-button block color='1000Under' (click)="requestAuthCode()">비밀번호 재설정 메일발송</button>
    <div class="spacer" style="height: 20px;"></div>
    <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
    <div class="spacer" style="height: 22px;"></div>
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-input [(ngModel)]="auth_code" type="text" placeholder="발송해 드린 인증코드 번호를 입력하세요." clearInput></ion-input>
      </ion-item>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-input [(ngModel)]="newPassword" type="password" placeholder="새 비밀번호(영문,숫자조합 6~15자)"></ion-input>
      </ion-item>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-input [(ngModel)]="confirmNewPassword" type="password" placeholder="새 비밀번호 확인"></ion-input>
      </ion-item>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <button ion-button block color='1000Under' (click)="confirm()">확인</button>
  </div>
</ion-content>
