<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="underwhite">
    <ion-buttons left>
      <button ion-button icon-only  color="underblack" (click)="closeModal()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>관심 키워드 설정</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item no-lines>
    <div class="spacer" style="height: 10px;" ></div>
    <h2>ex) SUV, 중형세단</h2>
  </ion-item>
  <ion-list *ngFor="let kl of keyword_list" style="margin-bottom: 15px;">
      <ion-item no-lines>
        <h2>{{kl}}</h2>
        <button ion-button clear item-end (click)="removeKeyWord(kl)"><ion-icon name="md-close" color="underblack"></ion-icon></button>
      </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-input [(ngModel)]="keyword" type="text" placeholder="키워드를 입력하세요...."></ion-input>
      </ion-col>
      <ion-col col-2>
          <button ion-fab mini (click)="addKeyword(keyword)"><ion-icon name="add"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>