.ios {
    page-update-profile {
        .head-space {
            background-color: #ffffff !important;   //
            height: 1px;
        }
    }
}

page-update-profile {
    
    .title.title-md {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        width: 70%;
        text-align: center;
    }

    .image-border {
        position: relative;
        background: #ffffff;
    }
    .img-circular{
        width: 100px;   //200px
        height: 100px;  //200px
        background-size: cover;
        display: block;
        border-radius: 50px;   //100px
        -webkit-border-radius: 50px;   //100px
        -moz-border-radius: 50px;  //100px
    }
    .img-camera {
        z-index: 2;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 55%;
        top: 75%;
        margin: auto;
    }
    
    .input-cover{position: static}

    .outline-box {
        background-color: #ffffff;
        border: 1px solid #999999; //#424242; black;
        border-radius:3px;
        .outline-item {
             padding-left: 5px;
        }       
    }

    //--remove all validation lines (red/green/blue).
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
}
