<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="underwhite">
    <ion-buttons left>
      <button ion-button icon-only color="underblack" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>프로필 수정</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spacer" style="height: 30px;"></div>
  <div *ngIf="userImgFlag" class="item image-border" align="center" tappable (click)="updateUserImg()">
    <img class="img-camera" src="img/camera.png"/>
    <img *ngIf="!delFlag" class="img-circular" [src]="getUserImgUrl"/>
    <img *ngIf="delFlag" class="img-circular" [src]="getUserImgUrl" style="opacity:0.2;"/>
  </div>
  <div *ngIf="!userImgFlag" class="item image-border" align="center" tappable (click)="updateUserImg()">
    <img class="img-camera" src="img/camera.png"/>
    <img class="img-circular" src="img/noUserImg.png"/>
  </div>
  <div class="spacer" style="height: 30px;"></div>
  <div padding style="padding-left: 10px; padding-right: 10px;">
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-input [(ngModel)]="name" type="text"></ion-input>
      </ion-item>
    </div>
    <div *ngIf="!kk_flag">
      <div class="spacer" style="height: 5px;"></div>
      <div class="outline-box">
        <ion-item no-lines class="outline-item">
          <ion-input [(ngModel)]="email" style="color:#929292;" readonly></ion-input>
        </ion-item>
      </div>
    </div>
    <div *ngIf="!snsUser">
      <div class="spacer" style="height: 5px;"></div>
      <div class="outline-box">
        <button ion-item no-lines detail-none class="outline-item" block color="underwhite" (click)="changePassword()">비밀번호 변경
          <ion-icon name="ios-arrow-forward" item-end color="undergray"></ion-icon>
        </button>
      </div>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-label>사진 삭제</ion-label>
        <ion-toggle [(ngModel)]="isPhotoDelete" color="1000Under" (ionChange)="checkPhoto()"></ion-toggle>
      </ion-item>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <button ion-button block color="1000Under" (click)="submitUpdate()">수정하기</button>
  </div>
</ion-content>
