.ios {
    page-cars {
        .head-space {
            background-color: #ffffff !important;   //
            height: 1px;
        }
    }
}
page-cars {
  
  .scroll-content{
    top:-130px !important; // -56px
    padding-top: 125px !important; //125px
  }
  .hide-header{
    transition : top 0.25s ease;
    top: -130px;   // -56px
  }
  .show-header{
    transition : top 0.25s ease;
    top: 0px;
  }

  .label {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .image-wrapper { 
    width: 100%;
    }
  .pcar-image { 
    position: relative; 
    padding-top: 75%; // 16:9 -> 56.25%, 4:3 -> 75% 
    overflow: hidden; 
    background-size: cover;
    }
  .pcar-image .centered { 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    -webkit-transform: translate(50%,50%); 
    transform: translate(50%,50%); 
    }
  .pcar-image .centered img { 
    position: absolute; 
    top: 0; 
    left: 0; 
    max-width: 100%; 
    height: auto; 
    -webkit-transform: translate(-50%,-50%); 
    transform: translate(-50%,-50%); 
    }

  .lcar-image { 
    position: relative; 
    padding-top: 56.25%; // 16:9 -> 56.25%, 4:3 -> 75% 
    overflow: hidden; 
    background-size: cover;
    }
  .lcar-image .centered { 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    -webkit-transform: translate(50%,50%); 
    transform: translate(50%,50%); 
    }
  .lcar-image .centered img { 
    position: absolute; 
    top: 0; 
    left: 0; 
    max-width: 100%; 
    height: auto; 
    -webkit-transform: translate(-50%,-50%); 
    transform: translate(-50%,-50%); 
    }

  .fab-in-list {
    background-color: #cfdffc;
    color: #387ef5;
  }
}
