<ion-header no-padding [ngClass]="{'hide-header':showheader,'show-header':hideheader}">
  <div class="head-space"></div>
  <ion-navbar color='1000Under'>
    <ion-list style="background-color: #37aafe" no-lines style="margin-bottom: 0px;">
      <div  *ngIf="showTop" style="padding-left: 10px; padding-right: 10px;">
        <ion-row style="height: 45px;">
          <ion-col col-1 style="padding-left: 0px;">
            <button ion-button item-start clear icon-only color="underwhite" (click)="showTopSwitch()">
              <ion-icon name="ios-arrow-up"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-9></ion-col>
          <ion-col col-2 style="padding-right: 10px; padding-left: 0px;">
            <button *ngIf="initSearchFlag" ion-button clear item-right color="underwhite" 
                    style="font-weight: bold; padding-left: 14px;padding-right: 0px;" (click)="resetSearch()">재설정
            </button>
          </ion-col>
        </ion-row>
        <button ion-item block style="height: 44px;" color="underwhite" (click)="SearchBrand()">
          <ion-icon name="car" item-start color="underblack"></ion-icon>{{searchBrand}}
          <ion-icon md="ios-arrow-forward" item-end color="undergray"></ion-icon>
        </button>
        <div class="spacer" style="height: 5px;"></div>
        <button ion-item block style="height: 44px;" color="underwhite" (click)="SearchLocation()">
          <ion-icon name="pin" item-left color="underblack"></ion-icon>{{searchArea}}
          <ion-icon md="ios-arrow-forward" item-end color="undergray"></ion-icon>
        </button>
        <div class="spacer" style="height: 5px;"></div>
        <button ion-item block style="height: 44px;" color="underwhite" (click)="SearchOtherConditions()">
          <ion-icon name="search" item-left color="underblack"></ion-icon>{{searchCondition}}
          <ion-icon md="ios-arrow-forward" item-end color="undergray"></ion-icon>
        </button>
      </div>
      <div *ngIf="!showTop" style="padding-left: 10px; padding-right: 10px;">
        <div class="spacer" style="height: 15px;"></div>
        <button ion-item style="height: 44px;" (click)="showTopSwitch()">
          <ion-icon name="search" item-left></ion-icon>{{searchResult}}
        </button>
      </div>
      <div class="spacer" style="height: 15px;"></div>
    </ion-list>
  </ion-navbar>
  <ion-item no-lines style="padding-left: 5px; height: 30px; background-color: #ffffff">
    <button ion-button color="underblack" style="font-weight: bold;" [clear]="!newActive" (click)="searchNew()">최신</button>
    <button ion-button color="underblack" style="font-weight: bold;" [clear]="!popularActive" (click)="searchPopular()">인기</button>
  </ion-item>
</ion-header>

<ion-content>
  <div *ngIf="showTop">
      <div class="spacer" style="height: 130px;"></div>
  </div>
  <div align="center">
    <div no-margin no-padding tappable *ngFor="let car of cars">
      <div *ngIf="car.photo_height > 500" class="image-wrapper">
        <div *ngIf="car.state === '판매중'">
          <div class="pcar-image"> 
            <div class="centered">
              <img [src]="car.photo_path" (click)="naviCarDetailPage(car.key)"/>
            </div>
          </div>
        </div>
        <div *ngIf="car.state === '검수'">
          <div class="pcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                              'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
            <div class="centered">
              <img src="img/state/inspecting.png" style="height: 150px; width: 150px;" (click)="naviCarDetailPage(car.key)"/>
            </div>
          </div>
        </div>
        <div *ngIf="car.state === '거래중'">
          <div class="pcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                              'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
            <div class="centered">
              <img src="img/state/dealing.png" style="height: 150px; width: 150px;" (click)="naviCarDetailPage(car.key)"/>
            </div>
          </div>
        </div>
        <div *ngIf="car.state === '완료'">
          <div class="pcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                              'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
            <div class="centered">
              <img src="img/state/sold.png" style="height: 150px; width: 150px;" (click)="naviCarDetailPage(car.key)"/>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="car.photo_height <= 500" class="image-wrapper">
        <div *ngIf="car.state === '판매중'">
          <div class="lcar-image"> 
            <div class="centered">
              <img [src]="car.photo_path" (click)="naviCarDetailPage(car.key)"/>
            </div>
          </div>
        </div>
        <div *ngIf="car.state === '검수'">
          <div class="lcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                              'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
            <div class="centered">
              <img src="img/state/inspecting.png" style="height: 150px; width: 150px;" (click)="naviCarDetailPage(car.key)"/>
            </div>
          </div>
        </div>
        <div *ngIf="car.state === '거래중'">
          <div class="lcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                              'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
            <div class="centered">
              <img src="img/state/dealing.png" style="height: 150px; width: 150px;" (click)="naviCarDetailPage(car.key)"/>
            </div>
          </div>
        </div>
        <div *ngIf="car.state === '완료'">
          <div class="lcar-image"  [ngStyle]="{'background-image': 'url(' + car.photo_path + ')', 'opacity':0.7, 
                                              'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
            <div class="centered">
              <img src="img/state/sold.png" style="height: 150px; width: 150px;" (click)="naviCarDetailPage(car.key)"/>
            </div>
          </div>
        </div>
      </div>
      <ion-row style="height: 45px;">
        <ion-col col-10>
          <h5 align="left">&nbsp;{{car.price | number:0}}만원 {{car.maker}} {{car.model}}</h5>
        </ion-col>
        <ion-col col-2 *ngIf="car.is_favorite === '1' && car.state === '판매중'">
          <button ion-button  color="1000Under" clear icon-only (click)="selectFavoriteCar(car)"><ion-icon mini name="heart"></ion-icon></button>
        </ion-col>
        <ion-col col-2 *ngIf="car.is_favorite === '0' && car.state === '판매중'">
          <button  ion-button  color="undergray" clear icon-only (click)="selectFavoriteCar(car)"><ion-icon mini name="heart-outline"></ion-icon></button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-10 align="left">
          &nbsp;{{car.address}} | {{car.year}}년{{car.month}}월 | {{car.mileage | number:0}}km  
        </ion-col>
        <ion-col col-2>
          <ion-icon name="ios-eye-outline" item-left><span style="font-size: 11pt;">{{car.view_count | number:0}}</span></ion-icon>
        </ion-col>
      </ion-row>
      <br>
      <div class="spacer" style="height: 10px; background-color: #eeeeee;"></div>
    </div>
  </div>
  <ion-fab right bottom>
      <button ion-fab style="color: #ffffff; background-color: #48b2ff; width: 44px; height: 44px;" (click)="addMyCar()"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>
  <ion-infinite-scroll *ngIf="doInfiniteFlag" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
