<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="underwhite">
    <ion-buttons left>
      <button ion-button icon-only color="underblack" (click)="dismiss()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>비밀번호 변경</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spacer" style="height: 10px;"></div>
  <div padding style="padding-left: 10px; padding-right: 10px;">
    <h6 align="left">비밀번호 입력</h6>
    <p align="left" style="color:#999999">변경할 비밀번호를 입력하세요.</p>
    <div class="spacer" style="height: 10px;"></div>
    <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-input [(ngModel)]="currentPassword" type="password" placeholder="현재 비밀번호(영문,숫자조합 6~15자)"></ion-input>
      </ion-item>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-input [(ngModel)]="newPassword" type="password" placeholder="새 비밀번호(영문,숫자조합 6~15자)"></ion-input>
      </ion-item>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div class="outline-box">
      <ion-item no-lines class="outline-item">
        <ion-input [(ngModel)]="confirmNewPassword" type="password" placeholder="새 비밀번호 확인"></ion-input>
      </ion-item>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <button ion-button block color='1000Under' (click)="submitUpdate()">확인</button>
  </div>
</ion-content>
