<ion-header>
  <div class="head-space"></div>
  <ion-toolbar color="underwhite">
    <ion-buttons left>
      <button ion-button icon-only  color="underblack" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>공지사항</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="deviceType == '1'">
    <div *ngIf="notice.link_android != null">
      <a [href]="notice.link_android"><img [src]="notice.photo_sub"/></a>
    </div>
    <div *ngIf="notice.link_android == null">
      <img [src]="notice.photo_sub"/>
    </div>
  </div>
  <div *ngIf="deviceType == '2'">
    <div *ngIf="notice.link_ios != null">
      <a [href]="notice.link_ios"><img [src]="notice.photo_sub"/></a>
    </div>
    <div *ngIf="notice.link_ios == null">
      <img [src]="notice.photo_sub"/>
    </div>
  </div>
</ion-content>
